[2017-11-13 18:29] hql287 opened #1 "Update READEME.md"
Write a new introduction

[2017-11-13 18:34] hql287 opened #2 "Hide Modern Template Option in Preview Window & Settings"

[2017-11-13 18:34] hql287 opened #3 "Fix Warning Synthetic Event when Double Click on Form Settings"
Step to reproduce:

* Change to Settings Tab and Back to Form Tab
* Double Click on Form Settings

[2017-11-13 18:35] hql287 opened #4 "Write Tests for Preview Window"

[2017-11-13 18:36] hql287 opened #5 "Clean Up CSS"

[2017-11-13 18:36] hql287 opened #6 "Pagination for Invoices & Contacts Tab"

[2017-11-13 18:37] hql287 opened #7 "Live Preview"

[2017-11-13 18:37] hql287 opened #8 "Upgrade to React-Dates 14"

[2017-11-13 18:37] hql287 opened #9 "Support Multiple Languages"
**UPDATE:**

Thank you very much for your patience, now you can help translate Manta on [Crowdin](https://crowdin.com).

[Please follow this instruction to start translating the app](https://github.com/hql287/Manta/wiki/Translating-Manta).

Thanks!

**Original Post:**

I think this would be a very nice feature to have.
But first, let me know which languages you would like Manta to support.

[![](h

[2017-11-13 18:38] hql287 opened #10 "Bulk Actions"
## Expected Behavior

Being able to interact with multiple docs (invoices, contacts). Possible bulk actions:

- [ ] Delete docs.
- [ ] Set Status for invoices.

## Current Behavior

It's not possible at the moment

[2017-11-13 18:38] hql287 opened #11 "Optimize SVG using SVGO"

[2017-11-15 03:48] hql287 opened #12 "Update Warning Message (Better UX)"

[2017-11-15 03:49] hql287 opened #13 "Add Crash Reporting"

[2017-11-15 03:49] hql287 opened #14 "Sort Invoices by Value, Date Created, DueDate"

[2017-11-15 03:50] hql287 opened #15 "Emailing Receipt from the App"

[2017-11-15 03:50] hql287 opened #16 "AutoUpdater"

[2017-11-15 10:58] hql287 opened #17 "Prevent windows to open dropped file"

[2017-11-15 11:11] #17 closed, assigned to hql287

[2017-11-15 12:41] #3 closed, assigned to hql287

[2017-11-15 12:51] #2 closed, assigned to hql287

[2017-12-02 05:35] hql287 opened #29 "Make buttons look like desktop app buttons"

[2017-12-02 08:19] hql287 opened #31 "Update App Logo"

[2017-12-02 08:31] hql287 opened #32 "Update Error"
- [ ] Quit & Install Does Not Work as Expected (since preview Window Is still active)
- [ ] Move Application To Read Only Volume

[2017-12-02 08:33] hql287 opened #33 "Disable Travis Build on Publish Release (Tag)"

[2017-12-02 08:34] hql287 opened #34 "Fix autoUpdate UI"

[2017-12-02 08:34] #34 closed, assigned to hql287

[2017-12-02 08:38] hql287 opened #35 "Update Design of DMG file"

[2017-12-02 12:24] #31 closed, assigned to hql287

[2017-12-02 13:07] #16 closed, assigned to hql287

[2017-12-02 13:07] #32 closed, assigned to hql287

[2017-12-07 16:27] #1 closed

[2017-12-07 16:48] hql287 opened #43 "Allow user to set default form setting"
So users won't need to toggle the fields everytime they create a new invoice.

[2017-12-07 16:49] hql287 opened #44 "Allow user to set custom Invoice ID/Number"

[2017-12-07 16:52] hql287 opened #45 "Invoices Index Layout"
<img width="346" alt="screen shot 2017-12-07 at 23 51 25" src="https://user-images.githubusercontent.com/2544327/33727087-9bb6c81c-dba9-11e7-8c20-990cbf8dc517.png">

[2017-12-08 01:44] crabmusket opened #46 "`yarn release:linux` needs system dependencies"
I tried running `yarn release:linux` and found I had to install a few additional dependencies. I was running in the `node:8` Docker container based on Debian, so:

[code]

`icnsutils` is for the `icns2png` command, and `graphicsmagick` provides `gm`.

Not sure if you want to document this anywhere, but hopefully other Linux users will find this :).

[2017-12-08 02:58] OzairP opened #47 "Cannot drag to select in text fields"
Trying to drag to select in text fields moves entire app.

Video: https://static.ozairpatel.com/u09sl.mp4

[2017-12-08 03:06] peonmodel opened #48 "unable to resize preview window"
on Macbook Pro 15" the preview window is too long and the "save as pdf" button is cut off
the window is also not resizable or able to zoom out to see the entire page

[2017-12-08 03:09] peonmodel opened #49 "accent color inconsistently applied"
when using the default non-custom accent color, the "INVOICE" font color is black and the dividers are lime-green

but using custom accent color, both the "INVOICE" font color and divider changed to the same custom accent color

[2017-12-08 03:13] peonmodel opened #50 "using multi-line input for description"
my invoices and quotation often have very long multi-line description but the input box is single-line only

i would suggest using a textarea instead of an input text

[2017-12-08 03:15] peonmodel opened #51 "alignment of numeric values should be to the right"
as per UX custom: https://ux.stackexchange.com/questions/24066/what-is-the-best-practice-for-data-table-cell-content-alignment

numeric values like money and quantities are aligned to the right when displayed in tabular form

it is easier on the eye when summing up the values

currencies should also be displayed with fixed decimal points, for dollars 2 decimal places

it would also be great it the

[2017-12-08 03:18] hql287 commented on #46
Hey Daniel,

Thanks for reporting this.
I'll add it to the doc.

Cheers!

[2017-12-08 03:20] hql287 commented on #46
Actually, scratch that. Would you be able to work on a PR for this? I guess you would articulate the issue/solution better since you're already working on Linux?

[2017-12-08 03:26] hql287 commented on #48
Hey @peonmodel

The `previewWindow` is actually resizable but it also has a minimize size. What's your screen's resolution? Can you attach a screenshot?

[2017-12-08 03:29] hql287 commented on #47
Hey @OzairP ,

Sorry for the inconvenience but this would be a quick fix.
In the meantime, you can use `CMD+A` to select all or using Shift with arrow keys to partially select the text.

Thanks for reporting this.

[2017-12-08 03:30] hql287 commented on #51
Awesome @peonmodel Keep 'em coming :)

[2017-12-08 03:39] peonmodel commented on #48
<img width="1280" alt="cutoff" src="https://user-images.githubusercontent.com/12645203/33749929-a83733e4-dc0b-11e7-8b24-2d86a0381595.png">

this is how it appears on Retina, 13-inch, Early 2015 (turns out it wasnt 15" but 13") (2560-by-1600 native resolution)

it wasnt captured in the screenshot but when i positioned my cursor to the corner of the window, it changed to the horizontal resize cursor

[2017-12-08 03:39] hql287 opened #52 "Add screenshots to README"

[2017-12-08 03:43] hql287 commented on #48
Ok, got it! I guess I'll just need to remove the minimum window screen then you'll be good to go.

[2017-12-08 03:48] hql287 opened #53 "Cannot quit on Dock"
Right click on the dock icon, choose quit but it just hides all the windows.

[2017-12-08 06:05] crabmusket commented on #46
I'll do it tomorrow :)

[2017-12-08 07:25] hql287 commented on #52
Done!

[2017-12-08 07:25] #52 closed

[2017-12-08 08:03] QuadDepo commented on #5
What about using SCSS/SASS?

[2017-12-08 08:19] QuadDepo commented on #12
More information / screenshot on this?

[2017-12-08 09:02] hql287 commented on #12
Hi Ryan

Are you interested working on a PR for this?  Right now when you try to delete an invoice/contact, this warning message will show up.

![screen shot 2017-12-08 at 15 54 08](https://user-images.githubusercontent.com/2544327/33758234-0eb2d762-dc30-11e7-891f-828eb55ddc7d.png)

"Are You Sure" is bad. I would like to improve it a little bit. Something that's more meaningful but concise. [This

[2017-12-08 09:02] hql287 commented on #12
@QuadDepo Are you interested working on a PR for this?

[2017-12-08 09:10] #33 closed

[2017-12-08 11:33] hql287 commented on #53
Fixed with https://github.com/hql287/Manta/pull/54

[2017-12-08 11:33] #53 closed

[2017-12-08 18:19] Jackbennett commented on #7
Or Add a finish step after preview and let the user edit the invoice up until finished.

[2017-12-09 07:57] hql287 commented on #7
Can you explain a little bit more? I'm not really sure I understand what you meant. Thanks!

[2017-12-09 08:06] hql287 opened #55 "Missing font?"
Looks like Manta doesn't display the font correctly. Can anyone confirm this?

Here's what it looks like on my machine.
![screen shot 2017-12-09 at 15 02 10](https://user-images.githubusercontent.com/2544327/33793864-8b6340e0-dcf2-11e7-96dd-ef048fcec2df.png)

[2017-12-09 08:19] hql287 commented on #47
Fixed in https://github.com/hql287/Manta/pull/56.

[2017-12-09 08:19] #47 closed

[2017-12-09 08:20] hql287 commented on #48
Fixed in https://github.com/hql287/Manta/pull/56

[2017-12-09 08:20] #48 closed

[2017-12-09 10:55] jyounus commented on #55
Same here. Thought it was intentional. The business template works fine.

Would be cool to allow selecting a completely custom font for everything on the page. Maybe as a drop down on the right hand side?

[2017-12-09 10:58] QuadDepo commented on #12
Yea sure i can give it a try :)

[2017-12-09 16:37] hql287 commented on #55
@jyounus Thanks for the confirmation. This looks like relative paths issue, will investigate tmr.
Yes, I was thinking about the using custom fonts feature, too. Might take some time to figure out the design though. But thanks for the suggestion.

[2017-12-09 16:43] hql287 commented on #12
Great!

[2017-12-09 23:34] SkyzohKey commented on #9
Would be nice to have, especially being able to set the texts on the invoice. I'm french and can translate the whole in French if you provides a way to :p

[2017-12-09 23:35] SkyzohKey opened #57 "Allow to edit invoices"
Currently if I spot a typo fix on an invoice, I'm forced to create a new one.
We could have 2 options in addtion to see/delete like : Edit, Duplicate.

:)

[2017-12-09 23:35] SkyzohKey opened #58 "Add a way to create contacts from the Contacts tab."

[2017-12-09 23:36] SkyzohKey opened #59 "Alerts cannot be clicked/closed"
As the alerts are draggable, we can't click nor close them. (Linux)

[2017-12-09 23:38] SkyzohKey opened #60 "Remove ugly double scrollbars"
An image is worth thousands words. Scrollbars should only appears if user is able to scroll content.

![](https://0x0.st/sHdB.png)

[2017-12-09 23:40] SkyzohKey opened #61 "Note does not appears on Minimal template"

[2017-12-10 03:56] #46 closed

[2017-12-10 08:51] mathieudutour commented on #58
it would be even nicer to hook with the `Contacts` app on macOS instead of reimplementing a contact app

[2017-12-10 09:02] mathieudutour opened #63 "more flexibility for VAT and contacts"
**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Describe your issue**

I'm often billing with a `VAT: charged reversed`. That's impossible in Manta, you can only enter a number. It would be nice to be able to enter anything and default to `0` if you can't parse it properly.

More generally, it would be nice to be able to have more flexibility in ever

[2017-12-10 09:29] mathieudutour opened #64 "mark invoices as "paid""
**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Describe your issue**

I pretty much only care about "pending" invoices, for which I haven't been paid. It would be nice to split the invoices into 2 sections: "pending" and "paid"

[2017-12-10 09:37] mathieudutour opened #65 "hook up with stripe"
**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Describe your issue**

A killer feature would be to create a quick and dirty webpage where you can allow your client to pay the invoice with stripe.

You would enter your stripe API keys in Manta. Then when you create an invoice, it generates a link to a static webpage (possible on `manta.life/invoice`)

[2017-12-10 10:18] hql287 commented on #64
This is a great idea and would be easy to implement, too. Thanks for the input.
Would you like to take on this challenge? :)

[2017-12-10 10:37] hql287 commented on #65
I actually thought about integrating Stripe too, but was kind of on the fence about it. I wanted Manta to solve only 1 problem, which is **making professional invoices with ease**, and to do it well. So I consider everything else, such as contacts management, payment handling ... belongs to the accounting/bookkeeping domain.

If I need to add a new feature, it would need to be very simple and revo

[2017-12-10 10:42] hql287 commented on #61
It's actually intentional. That's why it's called Minimal :)

[2017-12-10 10:42] #61 closed

[2017-12-10 10:45] hql287 commented on #58
@SkyzohKey : Why would you need this? You can always create a new contact from the invoice form?
@mathieudutour: Yes, that does sound nicer. But I'm not sure if Electron allows things like this, and how it would be like in Windows/Linux.

[2017-12-10 10:47] hql287 commented on #57
Got to admit that I ran into this sometimes too. And it's kind of annoying.
Let's see if it's easy enough to make it to v.1.1.0

[2017-12-10 10:48] hql287 commented on #11
Probably not.

[2017-12-10 10:48] #11 closed

[2017-12-10 11:26] ghazal commented on #9
+1 for this.

[2017-12-10 13:31] mathieudutour commented on #58
that's possible with electron yes (https://stackoverflow.com/questions/37003383/node-js-get-all-mac-contacts). But I'm not sure what the equivalent (if any) on windows/linux

[2017-12-10 14:21] TomasKostadinov opened #67 "Add support for decimal prices"
**Is it a bug or a feature request?**
- [x] It's a bug.
**Which version are you using?**
- [x] macOS
**Which is the version/distribution of the OS?**
macOS High Sierra

Please add support for decimal prices such as 7,99€; 20,23€. Currently the ',' just gets deleted.
That'd be really nice.

[2017-12-10 15:46] shaneapen opened #69 "[Typo] "Quit" as "Quite" in menu"
![screen shot 2017-12-10 at 9 13 43 pm](https://user-images.githubusercontent.com/8535661/33806495-12f7e252-ddef-11e7-8ac3-63dfa2f7e1b3.jpg)

[2017-12-10 16:33] jmrodriguesgoncalves commented on #69
I could give this one a shot!

[2017-12-10 16:33] jmrodriguesgoncalves commented on #60
Can I give this a try?

[2017-12-10 16:34] hql287 commented on #60
Go for it @jmrodriguesgoncalves!

[2017-12-10 16:35] hql287 commented on #60
@SkyzohKey Are you using Linux or Windows?

[2017-12-10 16:36] jmrodriguesgoncalves commented on #60
Awesome thanks! I am using Windows

[2017-12-10 16:36] hql287 commented on #69
That would be great! Thanks!

[2017-12-10 16:37] jmrodriguesgoncalves commented on #9
I could give this a shot as well. I speak Portuguese, so I could do translation for that language if you want?

[2017-12-10 16:42] hql287 commented on #60
Hey @jmrodriguesgoncalves, Some people told me that they couldn't get pass the Welcome windows when they're using Windows. Did this happen to you, too?

[2017-12-10 16:48] hql287 commented on #9
@jmrodriguesgoncalves Sure, that would be really great! But I need to find a better way to implement this feature first. It actually was planned for the first release but I was not really happy with the solution, (some feel too hacky, some too overkill) so decided to skip it.

[2017-12-10 17:19] jmrodriguesgoncalves commented on #60
I'm setting up a testing environment to give it a shot. When running yarn release:win, I get this message:

$ webpack --env.production
module.js:471
    throw err;
    ^
Error: Cannot find module 'webpack-merge'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19

[2017-12-10 17:26] hql287 commented on #60
Actually, `webpack-merge` is something else, not the `webpack` package itself.
Did you install all dependencies (`yarn install`) before running the release command?

[2017-12-10 17:36] jmrodriguesgoncalves commented on #60
I did before with no issues, but now when doing it again it seems to run into trouble:

[1/4] Resolving packages...
[2/4] Fetching packages...
error electron-builder@19.45.5: The engine "node" is incompatible with this modu
le. Expected version ">=6.11.4".
error Found incompatible module

[2017-12-10 18:30] jmrodriguesgoncalves commented on #60
Yup seems like I  won't be able to help much. Just like you said, can't get past the welcome screen.

[2017-12-10 23:30] philoushka commented on #67
I agree with this issue. The `.` is deleted during line item entry.

[2017-12-11 03:00] peonmodel opened #73 "'%' appear as prefix instead of suffix"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [x ] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**
I'm using macOS High Sierra

**Describe your issue**

the VAT & Discount appears as "%5" instead of "5%"

**Steps to replicate

[2017-12-11 03:02] peonmodel opened #74 "Allow preview before saving"
**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra

**Describe your issue**

Previewing cannot be done without first saving

[2017-12-11 03:08] hql287 commented on #74
Thanks! This's actually related to #7

[2017-12-11 03:08] MaloRchrd commented on #48
Same issue on MBP 13"

[2017-12-11 03:12] peonmodel opened #75 "Generate Quotation"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Describe your issue**
Generate quotation instead of invoice
Preferably a way to then generate an invoice based on the saved quotation with a reference to the quotation id

[2017-12-11 03:16] peonmodel opened #76 "Add signature field"
**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Describe your issue**

2 Signature fields, 1 for client to sign and the other for self
default value could be "this is a generated document, no signature required"

[2017-12-11 03:21] hql287 commented on #48
@MaloRchrd : It's fixed in #56 (will be in v.1.1.0). The minimum size of the `previewWindow` is now `1024x800` and should fit most modern screens.

[2017-12-11 03:22] hql287 commented on #75
Sounds great!

[2017-12-11 04:39] hql287 commented on #63
@mathieudutour : Is`VAT: charged reversed` a common thing in Europe? Can you explain how it works? Does this mean the tax value would be 0, meaning the invoice does NOT include tax and the clients would need to do the tax themselves?

[2017-12-11 07:11] dertuerke commented on #9
Germany u forgot ^^

[2017-12-11 08:01] mathieudutour commented on #63
I don't know how common it is in the grand scheme of things but it's what I use most commonly yes.

Yes that's it (that's why it should default to 0 if we cannot parse to a float).

[2017-12-11 09:00] SkyzohKey commented on #58
Linux has Gnome Contacts, hey :)

[2017-12-11 09:01] SkyzohKey commented on #60
I'm using Linux. The welcome screen also is broken for me, because of draggableness. Should be fixed by #66 :)

[2017-12-11 09:02] SkyzohKey commented on #61
ah c:

[2017-12-11 09:04] SkyzohKey commented on #9
You can try that awesome React lib by @Yahoo => https://github.com/yahoo/react-intl

[2017-12-11 09:07] kozlown opened #77 "Can't click any button, it grabs the window instead."
**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [ ] Windows
- [x] Linux

**Which is the version/distribution of the OS?**

Ubuntu Xenial

**Describe your issue**

I can't click any button, when I try to click it grabs the window instead.
![image](https://user-images.githubusercontent.com/8665643/33823323-

[2017-12-11 09:32] SkyzohKey commented on #77
Should be fixed once #72 is merged ;)

[2017-12-11 10:47] hql287 commented on #9
@SkyzohKey: I did and it seemed overkill to me. But probably I'll still give it another go! Thanks!

[2017-12-11 10:48] hql287 commented on #60
@SkyzohKey Did you make a build with #72 already?

[2017-12-11 10:50] hql287 commented on #60
@jmrodriguesgoncalves Try this tip from @SkyzohKey: Press `Tab + Enter`

[2017-12-11 12:14] dylandamsma opened #78 "Multicurrency & cryptocurrency support"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [X] I'm requesting a new feature.

**Describe your feature**

I think adding multi-currency & cryptocurrency support to this particular app makes it absolutely killer for me and many people I work with. Would it be possible to add such features? I'd be happy to promote the application

[2017-12-11 13:30] hql287 commented on #78
This sounds exciting!!! I would like to know more.

[2017-12-11 13:41] dylandamsma commented on #78
Want to join my community real quick so we can chat about it? :)
https://community.cryptominded.com

[2017-12-11 21:53] TomasKostadinov commented on #67
Also it would be nice if both `.` and `,` get supported, maybe with an option in the settings sceen.

[2017-12-11 22:43] dream-encode opened #80 "Cannot Interact with App on Windows"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [x] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**
Windows 10

**Describe your issue**
After initial install, app opens a "Tour" window.  There is a "Skip" link and a "Next" butto

[2017-12-11 22:46] jmrodriguesgoncalves commented on #60
@hql287 @Skyzohkey that actually did it, I was able to get to the program. Now, I was trying to setup the development environment, however I ran into this after doing yarn run on one of the two terminals:
![image](https://user-images.githubusercontent.com/14240261/33857319-254f9eae-de99-11e7-8bab-470070c308e5.png)
Could this have something to do with my local permissions?

[2017-12-12 01:43] hql287 commented on #80
Hi David,

Thanks for reporting the issue. It's actually a known bug. You can try `Tab+Enter` to pass the welcome screen for now. The issue will be fixed in future version.

[2017-12-12 01:52] crabmusket commented on #80
Same bug occurs on Linux (Ubuntu).

[2017-12-12 05:33] lachlanjc opened #82 "Allow printing"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS Sierra

**Describe your issue**

I'd like to be able to do <kbd>Cmd+P</kbd> on an invoice and print it out (suc

[2017-12-12 05:37] hql287 commented on #82
You can save it as a PDF, then print :)

[2017-12-12 06:47] SkyzohKey commented on #60
Or you have something else listening on :8888. Try to run `lsof -i :8888` :)

[2017-12-12 07:26] #82 closed

[2017-12-12 07:40] hql287 commented on #80
Same as https://github.com/hql287/Manta/issues/77

[2017-12-12 07:40] #80 closed

[2017-12-12 08:06] #73 closed

[2017-12-12 10:06] shime opened #84 "Currencies are not sorted alphabetically"
**Is it a bug or a feature request?**

- [X] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [X] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

El Capitan

**Describe your issue**

When you go to `Settings` -> `App Settings` and try to find your currency under `Default Currency` dropdown, the currencies are not sorted alphabe

[2017-12-12 10:08] shime opened #85 "Customizable templates?"
**Is it a bug or a feature request?**

- [] It's a bug.
- [X] I'm requesting a new feature.

**Which version are you using?**

- [X] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

El Capitan

**Describe your issue**

I can't find a way to customize templates. What should I do to make a new custom template?

[2017-12-12 10:27] #59 closed

[2017-12-12 12:14] erhankaradeniz opened #86 "Payment details"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

MacOS Siera

**Describe your issue**

Need fields for payment details

**Steps to replicate**

Currently there is no way of def

[2017-12-12 12:15] erhankaradeniz opened #87 "Translations"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

MacOS Sierra

**Describe your issue**

Would help if invoices could be translated into other languages, would love to help.

**

[2017-12-12 12:21] mathieudutour commented on #87
duplicates of #9, there are some more info over there

[2017-12-12 12:22] erhankaradeniz commented on #9
I'd like support for Dutch

[2017-12-12 16:49] hql287 commented on #85
@shime, after click Save & Preview, you'll be able to customize the invoice.
Right now there's no standard way to add a new template via the UI, but it's fairly simple:

* Convert your design to HTML/CSS,
* Split it into 3 React components (Header, Body and Footer).
* Hook it up with Redux

If you don't have time to check out the code, just put up the HTML/CSS somewhere, I'll take care of the last

[2017-12-12 16:51] hql287 commented on #86
@erhankaradeniz: A workaround would be using the Note field for that.

[2017-12-12 16:51] #87 closed

[2017-12-12 16:57] hql287 commented on #60
Merged https://github.com/hql287/Manta/pull/72

[2017-12-12 16:57] #60 closed

[2017-12-12 16:57] hql287 commented on #77
Merged #72

[2017-12-12 16:57] #77 closed

[2017-12-12 21:17] bransorem opened #88 "Added to Homebrew Cask"
PR is here: https://github.com/caskroom/homebrew-cask/pull/41870

I will close this issue when it's merged in.

[2017-12-13 01:48] hql287 commented on #88
Wow, this is awesome! Thanks!

[2017-12-13 09:31] erhankaradeniz commented on #86
I know, but that's why I'm suggesting this feature.

[2017-12-13 09:44] hql287 commented on #64
A quick update on the UI for this feature. Maybe I'll ditch the table layout as there're too many columns already, and that doesn't include the pending/paid status.

This a WIP but will wrap this up tomorrow. Let me know if you have any suggestions.

![mark as read](https://user-images.githubusercontent.com/2544327/33932003-560534fa-e024-11e7-8157-100d4c57ea07.gif)

[2017-12-13 09:52] mathieudutour commented on #64
that looks super nice! Just so you know, I used a string for the status as there might be other statuses later on (perhaps even custom ones?). That's why I used a dropdown instead of the checkbox. This design doesn't account for that but maybe it can be changed later. Up to you :)

[2017-12-13 09:53] mathieudutour commented on #64
while you are at it, it would be nice to show a context menu with those actions when right-clicking on an invoice. It doesn't feel really native without it

[2017-12-13 10:13] hql287 commented on #64
@mathieudutour Yes, I kind of understand why you chose the select but I think I'll keep it as Pending/Paid at the moment as these are the most common statuses. More options can be accessed via the menu or context menu like you suggested.

[2017-12-13 10:15] hql287 commented on #64
Btw, what would you put into the context menu? @mathieudutour

[2017-12-13 10:17] mathieudutour commented on #64
just the 3 actions that are there as buttons for now. Only to make sure that _something_ happens when you right click: it's disturbing if nothing happens ;)

[2017-12-13 10:25] hql287 commented on #64
lol ok, noted!

[2017-12-13 10:31] michaelzoidl commented on #85
Hey @hql287 can you provide a short documentation (maybe in the wiki?) how to add a custom template? :)

I've seen the only thing i would have to do is add a new react-component in the `Manta/preview/templates/` folder using the passed props.

But how can i add my template / react-component to the app? Is there a folder on my mac where i can put this files and Manta detects my components..

Merci

[2017-12-13 10:56] hql287 commented on #64
Per your request, **Something** does happen!! 😄

<img width="514" alt="screen shot 2017-12-13 at 17 54 40" src="https://user-images.githubusercontent.com/2544327/33935500-becbd2d2-e02e-11e7-9351-98519dbe6f7f.png">

[2017-12-13 11:05] hql287 commented on #84
@shime You can start typing and it'll take you to the desired currency. The order of the currencies is the same in the Form and in the Settings as I use the same file. [I got it from here](https://gist.github.com/Fluidbyte/2973986), think it's based on the popularity of the currency.

 This is not a bug btw so I'm closing this.

[2017-12-13 11:05] #84 closed

[2017-12-13 11:09] shime commented on #84
Okay, it looks like they are sorted by code, after `USD`, `CAD` and `EUR` which are the most popular I guess. Maybe it would make sense to sort them by name since you're displaying that?

[2017-12-13 11:29] hql287 commented on #84
Sure, It does help less savvy users to navigate easier. Will work on this once I fixed the current bugs. Thanks!

[2017-12-13 11:31] hql287 opened #89 "Sort currencies in Form/Settings by Name"
This will make it easier to use for non-technical users.
Thanks to @shime for the [suggestion](https://github.com/hql287/Manta/issues/84)!

[2017-12-13 11:32] hql287 commented on #84
Moved this to #89.
Btw, it's fairly easy to do, would you like to take on the challenge? :)

[2017-12-13 11:54] hql287 opened #90 "Better Tax Handling"
I got a lot of requests on customizing taxes, both here and via email. So let's use this to keep track of all the requests related to Tax/Vat

- [ ] Add Tax Payer ID/Tax Registration Number
- [ ] Add `charged reversed` option See https://github.com/hql287/Manta/issues/63
- [ ] Option to set a default TAX value

Please let me know in the comments which others things you would like to include in the

[2017-12-13 11:56] hql287 commented on #63
Thanks, moved this to https://github.com/hql287/Manta/issues/90

[2017-12-13 11:56] #63 closed

[2017-12-13 12:47] shime commented on #84
Cool, yes I would definitely like to take this one.

[2017-12-13 16:10] ohyou opened #91 "Tour window has wrong position on dual monitor setup"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a minor bug.

**Which version are you using?**

- [x] Linux

**Which is the version/distribution of the OS?**

`Linux 3.16.0-4-amd64 Debian 3.16.43-2+deb8u5 (2017-09-19) x86_64 GNU/Linux`

**Describe your issue**

The Tour Window positions itself in the center of the "available screen area", w

[2017-12-13 16:54] hql287 commented on #91
@ohyou Ahh, never thought of this! Thanks for reporting.

[2017-12-13 16:54] hql287 commented on #84
Awesome! Thanks!

[2017-12-14 05:39] bransorem commented on #88
Merged.

[2017-12-14 05:39] #88 closed

[2017-12-14 09:34] aa125660636 opened #94 "Everybody, who can do the app on the shelf?"
Everybody, who can do the app on the shelf? Like this https://itunes.apple.com/cn/app/id1293167709? Mt=8
Https://itunes.apple.com/cn/app/id1317244973? Mt=8

[2017-12-14 11:39] hql287 commented on #94
Spam?

[2017-12-14 11:39] #94 closed

[2017-12-14 16:17] hql287 commented on #85
There’s no way to do it at the moment. You’ll need to write custom components and recompile your own version of the app.

I’m thinking maybe in the near future, I’ll make it a way for people to develop/use custom templates. Maybe using something like a template engines.

What do you think?

[2017-12-14 21:45] OrionRandD commented on #9
We are in great need for having Brazilian Portuguese added to it as there are lots of small and medium start-ups using Open-source software over here...

[2017-12-14 21:47] OrionRandD commented on #9
Also it would be good if there were a field to fill in the Receiver bank account number
Thx for the great app.

[2017-12-14 22:15] SjamonDaal opened #95 "My findings, Issues and Suggestion"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [X] It's a bug.
- [X] I'm requesting a new feature.

**Which version are you using?**

- [X] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra

**Describe your issue**

- The font styling doen't work (image 1)
- When creating a new customer w

[2017-12-14 22:28] SjamonDaal commented on #95
Afterwards,

I found some updates on the git about some of my suggestions. Please ignore everything that's already done. My suggestions and bugs are based on the dmg download v1.0.0

If there is a newer version available, please hook me up!

[2017-12-14 23:07] jkupczak commented on #85
I think that in the absence of full custom templates built from scratch, that having some more control over font size, face, color and leading would be a great alternative. Probably less time consuming to implement?

[2017-12-15 11:13] brrd opened #96 "Export data as CSV"
**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [x] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

Win10 64 bits

**Describe your issue**

First of all, thank for this very promising app.

IMO adding a way to export invoices data in a human-readable format (such as CSV) would make

[2017-12-15 12:15] hql287 commented on #96
This is a great idea! Thanks!

[2017-12-15 12:30] hql287 commented on #95
@SjamonDaal Thanks for taking the time for making these suggestions. All of your issues are resolved and will be included in the next release.

I'm already working on some of your requests. Refers to this issue https://github.com/hql287/Manta/issues/90 for more info on the tax feature

I like your suggestions on Due Date, will add it to the list.

[2017-12-15 12:38] mathieudutour commented on #96
yeah, while I really like having control of my data, it would be nice to be able to sync the invoices through dropbox or similar

[2017-12-15 16:41] jkupczak opened #97 "Allow product lines to be left partially filled in"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

OSX El Capitan

**Describe your issue**

I can't save an invoice when a product line is empty.

**Steps to replicate**

Fill in

[2017-12-16 10:45] hql287 opened #99 "Handling Invoice Status"
<img width="938" alt="screen shot 2017-12-16 at 17 35 45" src="https://user-images.githubusercontent.com/2544327/34069659-ea8802b4-e287-11e7-9f1f-b080bb02dab1.png">

Just finished the final design for this feature and need some input on this from you guys.

The "Mark as Paid" will be the main action and the dropdown will show other options such as "Refunded, Cancelled". Just wanted to know if you

[2017-12-16 10:48] hql287 commented on #64
Guys, please refers to this issue https://github.com/hql287/Manta/issues/99 now as I decided to support more than just pending/paid.

[2017-12-16 10:48] #64 closed

[2017-12-16 10:49] #67 closed

[2017-12-18 04:43] dawsbot opened #100 "Option for USA Friendly Date Format"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

The date format is currently DD/MM/YYYY, which is not the pattern we use in the US. We use MM/DD/YYYY, so having an option for that date format would be nice.

An alternative to having that date format option is to have a verbose date output by defau

[2017-12-18 08:54] JJYing commented on #9
I would love to help translating Manta to Chinese!

[2017-12-18 08:56] hql287 commented on #99
Close for now. Refer to https://github.com/hql287/Manta/pull/102 for all the changes.

[2017-12-18 08:56] #99 closed

[2017-12-18 11:38] OrionRandD commented on #9
@hql287 perhaps aspell or enchant can help...
Also it would be good if there were a field to fill in the Receiver bank account number
Thx for the great app.

[2017-12-20 00:14] hql287 commented on #100
Hey Dawson @dawsbot,

Apology for taking a bit long to get back to you, just added a few suggestions to your PR.
Let me know what you think. :)

Thanks.

[2017-12-20 00:40] hql287 commented on #55
Fixed in https://github.com/hql287/Manta/pull/98. Thanks to Juan @jiserra 👍

[2017-12-20 00:40] #55 closed

[2017-12-20 01:27] hql287 commented on #9
@OrionRandD: Can you create a separate issue on this and explain what it does and how it should be implemented? Thanks!

[2017-12-20 09:28] davidsommer commented on #9
German, i would provide the first draft of translation

[2017-12-21 00:09] OrionRandD opened #105 "Manta multi-languages"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [ x ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [ ] Windows
- [x ] Linux

**Which is the version/distribution of the OS?**
Debian - Unstable

Eg: I'm using macOS Sierra

**Describe your issue**
Not an issue. It is a request for multi-language inter

[2017-12-21 04:36] hql287 commented on #105
- Can't quit by from the dock issue has been fixed. More info here https://github.com/hql287/Manta/issues/53
- Support Multiple languages is documented here, https://github.com/hql287/Manta/issues/9

So maybe change your issue's title to smt like "Adding a field where the bank account/paypal/bitcoin" ?

[2017-12-21 04:48] hql287 commented on #105
@dawsbot  I wasn't aware of [react-i18next](https://github.com/i18next/react-i18next). It looks a lot like Rails to me and seems to be very promising. What was your experience with it?

[2017-12-22 05:23] hql287 commented on #90
@mathieudutour Quick questions:

- Are there any other methods besides `charge_reverse` that are common in Europe? I'm considering checkbox/select at the moment.
- If you chose `charge_reverse` as your tax method, how would you display it in the document? Do we need to say explicitly that this invoice is reverse charge applicable? Or simply just display the reverse charge amount?

Can you provide

[2017-12-22 07:26] mathieudutour commented on #90
I don't know of any other

I'm showing it as
[code]

[2017-12-23 03:47] hql287 opened #106 "Reports/Charts"
![freshbooks_yoy_growth_monthly_timeline](https://user-images.githubusercontent.com/2544327/34316667-f88d5120-e7cd-11e7-8ddf-9228cf6c5c9b.png)

*Example from Freshbook*

It would be nice to have a tab showing different reports/charts such as:

* Monthly/Quarterly/Yearly revenue (with date range filter)
* Clients/Customers report. (Who paid the most? Who's late?)
* Job/Product/Service report (Best

[2017-12-23 16:23] c0b41 commented on #106
Very useful, and [vx ](https://github.com/hshoff/vx) package very nice..

[2017-12-25 14:07] AlphaStyle commented on #96
Im new to contributing and have never worked with Electron before so please be gentle :smile:

I tried to look into this, using [pouchdb-replication-stream](https://github.com/pouchdb-community/pouchdb-replication-stream) and [node-memorystream](https://github.com/JSBizon/node-memorystream) to convert the PouchDB to JSON in memory before writing to a file (Export / backup).

Im using `dialog.showO

[2017-12-26 03:11] DrSensor opened #107 "CI for automatic release"
Just curious, is there a reason for not using CI service for autorelease Windows and Linux version?

[2017-12-27 07:48] jingle0927 opened #108 "Support linux version"

[2017-12-30 11:56] c0b41 commented on #108
already supported linux?

[2017-12-30 15:08] hql287 commented on #90
Alright, Christmas really does mess up work, but this should come in handy :)

![Save tax settings as default](https://d2ffutrenqvap3.cloudfront.net/items/1F420Y2Q0r402e1o0e1A/save_default_tax_settings.gif?v=8edec68a)

[2018-01-02 06:22] hql287 commented on #90
Fixed with #109

[2018-01-02 06:22] #90 closed

[2018-01-02 15:32] Venkat5694 opened #110 "Save as PDF throws Javascript exception"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

 I'm using macOS Sierra 10.12.6

**Describe your issue**

When trying to save a Invoice a JS exception is thrown.

[code]

**St

[2018-01-02 16:13] #110 closed

[2018-01-02 16:14] Venkat5694 commented on #65
@hql287 Is this something you still want to do. If yes, I can work on it.

[2018-01-02 19:21] rcorzogutierrez commented on #106
Very useful

[2018-01-02 20:11] rcorzogutierrez opened #111 "Product/Service Tab"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [ X] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [ X] Windows
- [ ] Linux

I'm using Windows 10 Fall Creators

It would be nice to have a tab that shows the products / services with their values. This would allow, when creating an invoice, to select

[2018-01-02 20:24] rcorzogutierrez opened #112 "Error when "Save as PDF""
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [x] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**
Windows 10 Fall Creators

**Describe your issue**

![screenshot 2018-01-02 15 17 52](https://user-images.githubusercontent.com/5

[2018-01-03 03:12] hql287 commented on #110
Hm, looks like a duplicate of https://github.com/hql287/Manta/issues/112 ?

[2018-01-03 03:15] hql287 commented on #65
@Venkat5694 Yes, go for it :)

[2018-01-03 03:17] hql287 commented on #112
Same as this? https://github.com/hql287/Manta/issues/110

[2018-01-03 04:40] hql287 commented on #100
Fixed with #113

[2018-01-03 04:40] #100 closed

[2018-01-03 04:41] hql287 commented on #89
Fixed with #92

[2018-01-03 04:41] #89 closed

[2018-01-03 04:42] hql287 commented on #45
Fixed with https://github.com/hql287/Manta/pull/102

[2018-01-03 04:42] #45 closed

[2018-01-03 05:04] hql287 commented on #112
OK, #109 introduced some changes in the way I store export path but I forgot to update it with the `saveAsPDF` script. Should be fixed in https://github.com/hql287/Manta/pull/114.
Thanks for reporting this 👍

[2018-01-03 05:04] #112 closed

[2018-01-03 05:05] hql287 commented on #110
OK, #109 introduced some changes in the way I store export path but I forgot to update it with the saveAsPDF script. Should be fixed in #114.
Thanks for reporting this 👍

[2018-01-03 10:35] mathieudutour commented on #65
I played with the idea the other day and actually, it's not that easy: you need a server that knows the stripe secret key, not only the public key.

So if we don't want to store user data, a solution would be to create a self hosting server that you can launch on heroku or glitch or whatever. But that's not as user-friendly as I first thought

[2018-01-03 11:49] hql287 opened #115 "Form clear action doesn't clear note content"

[2018-01-03 11:52] hql287 opened #116 "Refactor Invoice Helper"

[2018-01-03 12:49] Venkat5694 commented on #57
@hql287 I saw that the dev build now has an edit button on each invoice. If you haven't already started it, can I pick this one up given #65 isn't something that I can work on.

[2018-01-04 00:11] hql287 commented on #57
Yes, that would be great! Thanks.

[2018-01-04 01:42] hql287 opened #117 "Refactor conditional checks in setInitialValues"
In `setInitialValues` (`app.js` file), I use [simple conditional checks](https://github.com/hql287/Manta/blob/dev/app.js#L155-L170) such as:

[code]

This works well for the first time but as more properties will be added in the same keys overtime and these checks will no longer work as the key is already there.

[2018-01-04 01:44] hql287 opened #118 "Update tax information on templates"
This should have been included with #109

[2018-01-04 09:26] hql287 opened #119 "Note Templates"
This would be something like canned responses for GitHub. Just an idea :)

[2018-01-04 10:20] hql287 commented on #49
Should be fixed with #120

[2018-01-04 10:24] #49 closed

[2018-01-04 10:25] hql287 commented on #116
Fixed with https://github.com/hql287/Manta/pull/120

[2018-01-04 10:25] #116 closed

[2018-01-04 10:25] hql287 commented on #118
Fixed with https://github.com/hql287/Manta/pull/120

[2018-01-04 10:25] #118 closed

[2018-01-04 10:29] ecleel opened #121 "Add a way to load/dumb invoices/contacts information"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [X] I'm requesting a new feature.

**Which version are you using?**

- [X] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra

**Describe your issue**

It would be cool if there is a way to load and dump the information of in

[2018-01-04 10:47] hql287 commented on #96
@AlphaStyle Hey, sorry for the delayed response. Any updates on this so far?

[2018-01-04 10:53] hql287 commented on #121
Exporting is being worked on in https://github.com/hql287/Manta/issues/96 but I'm not sure what's the current status is.

Importing is nice, any idea on how this should be implemented?  I'm not sure if it's possible to import directly from the Contacts app so maybe Contacts App -> CSV/Excel -> Import?

[2018-01-04 10:54] #115 closed

[2018-01-04 13:39] #108 closed

[2018-01-04 13:39] AlphaStyle commented on #96
I have to admit I haven't done much since last time I wrote.
I was hoping someone could provide me with this magical package that will fix my `JSON->CSV | CSV->JSON` issues.

As of right now I can export everything to one single CSV file. (The import logic is there, just not working cause of `CSV->JSON` is not correct).

I guess I could try and write my own `CSV-JSON` converter, but I'm not the mo

[2018-01-04 13:43] hql287 commented on #107
Not really, I just happen to use a Mac and haven't found an effective way to support both 3 at the moment. I tried VM but it slows down my machine significantly.

But support for Windows and Linux is definitely on the list. Don't worry.

[2018-01-04 13:43] #107 closed

[2018-01-04 13:44] #4 closed

[2018-01-04 13:44] #5 closed

[2018-01-04 13:46] hql287 commented on #96
So `JSON` to `CSV` is fine but you need some help with `CSV` to `JSON`?

[2018-01-04 13:49] hql287 commented on #96
Definitely a good exercise, and you'll help lots of other fellow developers with it 👍

[2018-01-04 14:03] AlphaStyle commented on #96
Yes, `CSV` to `JSON`. The PouchDB JSON dump is what I think people refer to as complex nested object with arrays. So [csvjson](https://github.com/pradeep-mishra/csvjson) package does something wrong when it covert CSV to JSON.

Maybe I could try and contribute to [csvjson](https://github.com/pradeep-mishra/csvjson) instead of starting from scratch.

[2018-01-04 14:07] brrd commented on #96
@AlphaStyle What about https://www.npmjs.com/package/csv-to-pouch module?

[2018-01-04 14:15] mathieudutour commented on #107
you can use:
- travis to release on mac
- travis to release on linux
- appveyor to release on windows

Have a look at desktop/desktop to see how they are doing it

[2018-01-04 14:27] hql287 opened #124 "Migrating data between versions"
The upcoming v1.1 introduces some changes in the way Manta constructs & stores data. So a migration scheme is necessary in order to prevent missing/corrupted data when users upgrade to a newer version.

What I'm thinking at the moment is this:
* Create a backup of invoices, contacts and app's settings data before upgrading the app.
* Upgrade the app as usual
* Adjust the data structure and import

[2018-01-04 14:28] hql287 commented on #124
@shime @mathieudutour @dawsbot: Any help would be greatly appreciated!

[2018-01-04 14:54] hql287 commented on #107
This is actually a development issue, not distribution.

The main reason is that I don't have any machine running Windows or Linux so I don't know how it's gonna end up for these users. I tried VM but it doesn't work out very well. And I would feel much better with releasing Win/Linux version if I can test them out first.

Nonetheless, Windows/Linux support is definitely something that I want to d

[2018-01-04 14:55] hql287 commented on #96
But you'll only need `CSV` to `JSON` for importing data, correct? If yes, how about making this 2 separated PRs, one for export, one for import. I can use the export module for https://github.com/hql287/Manta/issues/124

[2018-01-04 15:03] mathieudutour commented on #124
ha migration issues ;) that's why I'm using dexie instead of pouch or similar.

I don't think you need to export/import.

I would change your `app/helpers/pouchDB` file to
[code]

[2018-01-04 15:05] AlphaStyle commented on #96
Unfortunately [csv-to-pouch](https://www.npmjs.com/package/csv-to-pouch) won't work for my approach because Manta uses two PouchDB's (Invoices and Contacts) and **csv-to-pouch** does not return the JSON, only add it directly to PouchDB *(please correct me if I am wrong)*.

I am hoping we can continue to have only one exported CSV file to maintain the simplicity for the end-user.

Maybe I should pr

[2018-01-04 15:06] AlphaStyle commented on #96
@hql287 Ok, let me just double check it works and then I will PR it :)

[2018-01-04 15:11] mathieudutour commented on #96
oh dumping the entire pouchdb probably won't work: a csv is more or less an array of JSON objects.

So what you really want is only the docs. We don't really about all the metadata (I would even remove the `_rev` from the docs).

Then the `csvjson` will probably work

[2018-01-04 15:17] hql287 commented on #96
👍 This is what I would do, too.

[2018-01-04 15:33] hql287 commented on #124
@mathieudutour: This is great!!! Thank you very much!! 👍  Will try it out now.
I guess for the next migration, just add it to `invoicesMigrations`, correct?

Also, just curious how would [dexie](https://github.com/dfahlander/Dexie.js) handle migration? And what's your experience with `dexie` in general compared with `pouchDB`?

[2018-01-04 15:37] mathieudutour commented on #124
yeah, `invoicesMigrations` is an object where the keys are the version of the db and the values are a function that takes a doc and returns the migrated doc.
So let's say you are now on version 3 of the db and I haven't open the app since version 1, the migration `2` and `3` will run.

Dexie is basically doing that for you: you define the db version and the list of migrations and it takes care of

[2018-01-04 15:43] hql287 commented on #124
That's brilliant! Probably will save a lot of headache in the future.
Do you think it's worth the effort to switch from `pouchDB` to `dexie`?

[2018-01-04 15:48] mathieudutour commented on #124
hum, not sure how the migration to dexie would work tho. I'd say no but it's always a good way to learn new tech, so if your goal is to learn, I'd say go for it haha ;)

[2018-01-04 15:58] hql287 commented on #124
I guess since they are just wrappers of IndexedDB, if we have a way to backup the data first, then mutate it to a compatible form for `dexie` then we should be fine.

But as always, it's easier said than done 😅.

I really don't mind giving it a try if it's worth it. That's why I asked this:

[2018-01-04 16:01] mathieudutour commented on #124
I'd say it's the least bad out there... not a fan of the existing in-browser db APIs, I would probably try to make my own if I had more time haha

[2018-01-04 16:22] hql287 commented on #124
This pretty much sums up the entire in-browser db solutions situation atm 😄

[2018-01-04 17:04] coderdiaz commented on #106
Very useful, and c3.js package is a good option

[2018-01-04 20:15] AlphaStyle commented on #96
Im only storing the **docs** now. Still not working the way I want it :/
I updated everything to fit in with the recent changes since last time I developed.

Do I need permission to make a pull request or am I doing something realy wrong?

[2018-01-04 20:16] mathieudutour commented on #96
if you have a fork, no.

What does your JSON look like?

[2018-01-04 20:45] AlphaStyle commented on #96
I really wanna do a pull request so you guys can see for yourself :smile:

*ERROR: Permission to hql287/Manta.git denied to Alphastyle.
Please make sure you have the correct access rights and the repository exists*

I have never experienced this :disappointed:

[2018-01-05 05:56] hql287 commented on #96
Well, then you're in luck today, haha.

Kidding aside, here's how you would do it:
* Create a fork of this repo
* Work on the PR locally on your machine
* Back to this repo home page and [create a new PR](https://github.com/hql287/Manta/compare)
* Click on the _compare across forks_
![compare across forks ](https://d2ffutrenqvap3.cloudfront.net/items/2v3n1K1v0M43003V0V15/Screen%20Shot%202018-01-05

[2018-01-05 05:57] hql287 commented on #96
GitHub also has a detailed guide on [how to create a PR from a fork](https://help.github.com/articles/creating-a-pull-request-from-a-fork/).

[2018-01-05 06:00] hql287 commented on #96
Don't worry, we all started somewhere.
GitHub also has a detailed guide on [how to create a PR from a fork](https://help.github.com/articles/creating-a-pull-request-from-a-fork/).

[2018-01-05 07:35] hql287 commented on #51
Fixed with #120

[2018-01-05 07:35] #51 closed

[2018-01-05 07:37] hql287 commented on #43
Fixed with #109

[2018-01-05 07:37] #43 closed

[2018-01-05 07:58] hql287 commented on #105
Duplicate of #9

[2018-01-05 07:58] #105 closed

[2018-01-05 08:03] hql287 commented on #95
@SjamonDaal It's been 3 weeks and some of your requests have been made.
Right now there's only a few left:

- [ ] Support for multiple languages. See #9
- [ ] Edit invoice. See #57
- [ ] Note Templates. See #119
- [ ] Send email via email. No issue created yet.
- [ ] Better DueDate. Not issue created yet.

I'm closing this but feel free to create new issues for each feature request that's not alre

[2018-01-05 08:03] #95 closed

[2018-01-05 08:05] hql287 opened #129 "Better dueDate"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [x] Windows
- [x] Linux

**Describe your issue**

Have a dropdown select with options such as 2 weeks from created date, 30 days from created date or custom date

[2018-01-05 08:05] hql287 opened #130 "Email Invoice from the App"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [x] Windows
- [x] Linux

**Describe your issue**

Need a way to send the invoices directly from the app

[2018-01-05 08:07] hql287 commented on #15
Duplicate of #130

[2018-01-05 08:07] #15 closed

[2018-01-05 08:22] SjamonDaal commented on #9
Dutch please, I already offered to translate :+1:

[2018-01-05 08:31] huyphams opened #131 "Preview invoice layout issue"
**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

- I'm always up to date (all software and OSX).

- I got stuck on this screen, it's too big.
<img width="1440" alt="screen shot 2018-01-05 at 3 28 17 pm" src="https://user-images.gith

[2018-01-05 09:58] hql287 commented on #131
@huyphams It's a known issue #48 and has been fixed with #56. You can either pull the newest code and use the dev version or wait until I fix #124  and release v1.1 (expected release date is Jan 11, 2018).

Btw, I like what you're doing with TablePlus 👍 Would love to contribute to the project somehow but I think it's not open source atm?

[2018-01-05 09:58] #131 closed

[2018-01-05 10:10] hql287 commented on #9
Just added some new options:

* German @davidsommer, @dertuerke
* Dutch @SjamonDaal @erhankaradeniz
* Brazilian Portuguese @OrionRandD

I had to create a new poll since GitHub Polls doens't let me edit the current one. The percentage might not be accurate so just ignore it.

[2018-01-05 10:23] mathieudutour commented on #130
maybe an MVP of this would be to just open the default email client with a pre-populated email

[2018-01-05 10:33] c0b41 commented on #9
Turkish 👊

[2018-01-05 10:33] huyphams commented on #131
Thanks but I didn't have any plan to open source at this time (but maybe will open source some of TablePlus's components in the future). I dev TablePlus in my free time and there are a lot of features ahead.
TablePlus will have plugin soon  (in pure javascript), people can contribute to it, just like Sketch does.

[2018-01-05 10:56] hql287 commented on #130
Yes, that would be a good start.

[2018-01-05 11:01] hql287 commented on #131
@huyphams: Sounds great 👍 I would like to see some improvement in the current UI, too. If you need someone to contribute to the project, let me know :)

[2018-01-05 11:04] hql287 commented on #9
![Yes](https://media.giphy.com/media/S3Ot3hZ5bcy8o/giphy.gif)
@c0b41 Sure!

[2018-01-05 11:07] hql287 opened #132 "Discount Before or After Tax?"
Would if give your discount after tax is added or before that? Ran into this yesterday and it seemed there's no official answer for it.

[2018-01-06 02:18] #117 closed

[2018-01-06 06:41] hql287 commented on #57
@Venkat5694 Would you be able to finish this before Jan 11? I would like to include this in the V1.1 since #124 will introduce some changes to the current docs (eg Tax ID) and I think people would like to update their invoices after this.

[2018-01-06 17:49] Venkat5694 commented on #57
I'll try and get a PR in by 10th but I don't think I can get it in any earlier.

[2018-01-06 17:58] hql287 commented on #57
@Venkat5694 That works for me. Thanks! 👍

[2018-01-06 18:36] juanpasolano opened #135 "Cannot read property 'currency' of undefined"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [X] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

macOS High Sierra 10.13.2 (17C88)

**Describe your issue**

Followed [instructions to run the app locally](https://github.com/h

[2018-01-07 06:04] hql287 commented on #135
@juanpasolano I can't seem to replicate the issue. Are you using the newest code?

[2018-01-07 06:09] hql287 commented on #135
Ah, I think I know why it's happening.

This seems to be related to #124 where some recent changes altered the way data is stored and the error occurred probably because your `appConfig` didn't have the key `invoice` key (it was added in  the #109 PR)

Can you try pulling the newest code and re-run the app?

[2018-01-07 20:00] juanpasolano commented on #135
[code]

[2018-01-07 20:08] juanpasolano commented on #135
@hql287 I guess this was a false alarm I recloned the repo and run the instructions again and it worked perfectly.
I guess you can close this, I don't know what caused the issue

[2018-01-07 20:08] #135 closed

[2018-01-08 15:11] Hedronmx opened #136 "Failed to open indexedDB"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [X] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [ ] Windows
- [X] Linux

**Which is the version/distribution of the OS?**

Elementary Os Loki 0.4.1 based on Ubuntu

**Describe your issue**
After closing the app and reopening I get the following error

[2018-01-08 16:07] c0b41 commented on #136
can you share stack trace?

[2018-01-08 16:22] hql287 commented on #136
Are you running both the exported app and the development mode?

[2018-01-08 18:47] Hedronmx commented on #136
@hql287 I'm running the deb file and git clone, ran with the command Yarn dev and Yarn start. Both have the problem.

[2018-01-09 12:26] TechiePriyaRanjan opened #137 "Application Not Opening in Windows 10 🤔"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [x] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

Eg: I'm using Windows 10 v1709

**After successful installation, I'm unable to proceed into the application; i.e I can't open t

[2018-01-09 12:34] c0b41 commented on #137
#80

[2018-01-09 13:41] aitbw opened #138 "Unable to build app on Manjaro"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [ ] Windows
- [x] Linux

**Which is the version/distribution of the OS?**

Manjaro Linux with Linux Kernel 4.14.12

**Describe your issue**

I'm trying to build Manta on my laptop but after cloning the

[2018-01-09 14:15] hql287 commented on #137
@TechiePriyaRanjan Hey, thanks for reporting this. It's a known bug as @c0b41 mentioned above and it's been fixed with https://github.com/hql287/Manta/pull/72 and will be included in the upcoming release on Jan 11.

[2018-01-09 14:15] #137 closed

[2018-01-09 14:18] hql287 commented on #138
@aitbw Hey thanks for reporting this. I got this error too (after I merged #125). To build for Linux, simply remove the lines that had been added by the PR #125.

[2018-01-09 15:11] aitbw commented on #138
Thanks for the quick reply, @hql287! Managed to get a successful build and now the app is up and running! 🎉

[2018-01-09 15:11] #138 closed

[2018-01-09 21:29] Hedronmx commented on #136
/home/carlos/Documents/manta/node_modules/pouchdb-browser/lib/index.js:591 Failed to open indexedDB, are you in private browsing mode?
guardedConsole @ /home/carlos/Documents/manta/node_modules/pouchdb-browser/lib/index.js:591
req.onerror @ /home/carlos/Documents/manta/node_modules/pouchdb-browser/lib/index.js:6470

[2018-01-09 21:56] Hedronmx commented on #136
It seems that Manta never closes. I checked on 3 computers and in all of them Manta services keep running. 2 Windows pc, 1 Linux. Manta keeps showing in the activity monitor / task manager. If I kill the process, the app can access the database.

[2018-01-10 04:59] #124 closed

[2018-01-10 05:04] hql287 commented on #136
@Hedronmx Yes, it's intentional that the app will remain running when you close its windows. To really quit the app, you can use the shortcut or use quit from the app's menu.

I think you run into this problem is because the exported app was still running and you opened the dev server so there's a potential conflict.

Anyway, if you quit both and try again, does the problem still persist?

[2018-01-10 05:06] hql287 commented on #138
@aitbw Glad to know that it's working for you now. If you run into another problem, feel free to open a new ticket (but hopefully not 😁)

[2018-01-10 06:09] Hedronmx commented on #136
The thing is, in windows and Linux there's not quit app menu button. So I don't know how to correctly quit, unless I add a menu button in code. Also the app should only stay open in OSX after pressing the x button in the window, unless you add a tray icon in windows and linux.

[2018-01-10 10:15] hql287 commented on #136
I think you're right, this behaviour is not common in Windows/Linux and I should have made it the way Windows/Linux users would expect.

Anyway, just want to confirm, if you run only the exported app or the dev server, the error won't occur, correct? If so, I will create another issue for the confusing behaviour of Manta on Linux/Windows rather than the error described here.

[2018-01-10 14:51] Hedronmx commented on #136
Yes! The problem is that when you close the main window and you open another instance of the program, the newest instance can't access the database. Regarless if its the dev server o the exported app. Only by closing the processes can you access the database again.

And yes, create another issue stating the way manta handles closing in Windows and Linux. In the meantime I will try and do a quick h

[2018-01-10 16:18] hql287 commented on #136
Will do!

Would love to see this as a PR, haha 😜

[2018-01-10 16:18] Hedronmx commented on #136
Surething! >:D

[2018-01-10 16:20] hql287 opened #140 "Change closing windows behavior on Windows/Linux"
- [ ] Close windows on Windows/Linux should close the app

[2018-01-10 16:20] hql287 opened #141 "Change closing windows behavior on Windows/Linux"
- [ ] Close windows on Windows/Linux should close the app

[2018-01-10 16:21] #140 closed

[2018-01-10 16:22] hql287 commented on #136
Alright, closing this in favor of https://github.com/hql287/Manta/issues/141

[2018-01-10 16:22] #136 closed

[2018-01-11 08:11] hgabe opened #142 "Cannot Use it on Linux"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ X] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [ ] Windows
- [ X ] Linux

**Which is the version/distribution of the OS?**

Eg: I'm using Ubuntu 16.04.3

I start the app and cannot click the next during the intro nor does it let me skip the
introdu

[2018-01-11 08:30] hql287 commented on #91
[This might be helpful](https://github.com/electron/electron/blob/master/docs/api/screen.md). Will work on this in the next release.

[2018-01-11 14:14] AlphaStyle commented on #96
I am sorry for super late reply!
I do appreciate your patient and wisdom :smile:

I did not know about the fork approach. I will read the guide and make a PR :smile:

[2018-01-12 02:23] hql287 commented on #142
Hi @hgabe, thanks for reporting this. It's the same as https://github.com/hql287/Manta/issues/77
Hope this helps!

[2018-01-12 02:23] #142 closed

[2018-01-12 13:54] hql287 opened #149 "Quit on update"
It seems that the `quit and install` action does not work properly. The user would need to explicitly quit and relaunch the app in order for the update to take effect.

[2018-01-12 14:05] hql287 opened #150 "Updating logo won't takes effect immediately"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

I'm using macOS Sierra

1. OPen app
2. Preview an invoice
3. Change logo, save
4. Return to the invoice, trigger some changes but the logo won't change.

[2018-01-13 03:15] hql287 opened #154 "Blank screen on startup"
Some new users experience this issue.

<img width="795" alt="screen shot 2018-01-13 at 10 15 12" src="https://user-images.githubusercontent.com/2544327/34902312-afca66a6-f84b-11e7-9170-86e5783fdf2b.png">

#155 will fix this.

[2018-01-13 03:59] #154 closed

[2018-01-13 04:01] hql287 opened #156 "No Quit or Check for Update menu on Windows/Linux"

[2018-01-13 04:03] #156 closed

[2018-01-13 04:12] hql287 opened #158 "Reduce app/bundle size"
Looks like the new version become much bigger in size than the previous one (almost 90MB vs 60MB). That's 50% more, probably worth investing.

[2018-01-13 07:20] huyphams opened #159 "[Bug] Can't edit invoice"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [X] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [X] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

High Sierra

**Describe your issue**

Edit function on this screen doesn't work.

![screen shot 2018-01-13 at 2 13 12 pm](https

[2018-01-13 07:21] hql287 commented on #57
@Venkat5694 Any update on this? :)

[2018-01-13 07:26] hql287 commented on #159
Hi Huy, thanks for the feedback! 👍

Yes, I noticed those issues and already working on it.

I've filed an issue with the hiccup when upgrading the app, please track the current status here https://github.com/hql287/Manta/issues/149. Will tidy up the download progress percentage as well 😜

About editing invocies, I think @Venkat5694 is working on it here https://github.com/hql287/Manta/issues/57. N

[2018-01-13 07:28] huyphams commented on #57
Hey @hql287 I think we should put an alert `coming soon` in incomplete function. Then everybody knows it is not complete => not report it as a bug.

[2018-01-13 07:30] hql287 commented on #57
True! 👍  It's actually my bad, I overlooked this, probably should have hidden the edit button.

[2018-01-13 07:35] huyphams opened #160 "[Improvement] Support retina resolutions for logo"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

High Sierra

**Describe your issue**

I tried to upload full HD image and some other resolutions but Manta always converts it t

[2018-01-13 07:47] hql287 commented on #160
I really like your logo btw. I think you should make stickers for TablePlus, haha 😜

[2018-01-14 16:21] #159 closed

[2018-01-15 09:46] hql287 opened #164 "Export PDF without opening the default reader"
At the moment, once the invoice is exported, the default PDF reader will be open to preview the file. This can be annoying sometimes so if it would be nice if there's an option to turn it off (or on).

[2018-01-15 09:49] hql287 opened #165 "Integrate system Notification with autoUpdater"
Show the [notification](https://electronjs.org/docs/tutorial/notifications) once the download is completed.

[2018-01-15 10:16] lajlev commented on #9
Danish. I will help you do the translations 🤗

[2018-01-15 18:39] rcorzogutierrez commented on #106
http://orbjs.net/ should complement everything related to the reports

[2018-01-15 19:01] mrbrianhinton opened #166 "Merge contacts"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [X ] I'm requesting a new feature.

**Which version are you using?**

- [X ] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra

**Describe your issue**

When create a new invoice, and using the same name, and business it wou

[2018-01-16 03:10] #150 closed

[2018-01-16 03:15] hql287 opened #167 "Support for RTL"
This's only a placeholder, will get back to it with some more details later.

[2018-01-16 04:42] johnhorsema commented on #57
Just used Manta for my first invoice! Sad to find I can't edit the invoices. Thanks for adding the button, but I agree to put "WIP" or "coming soon" to tell users the button does not work.

[2018-01-16 05:12] hql287 commented on #166
@mrbrianhinton Actually, you can.

![Select Contact](https://d2ffutrenqvap3.cloudfront.net/items/1c0a3E3k221d2W0e1b3H/Select%20Contact.gif?v=0cdc9db3)

[2018-01-16 05:12] #166 closed

[2018-01-16 08:42] hql287 commented on #57
@johnhorsema Sorry for the confusion, this will be fixed in the next release

[2018-01-16 09:28] huyphams opened #170 "[Improvement] Improve auto-update behaviour"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [X] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [X] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

High Sierra

**Describe your issue**

- Manta should not show auto-update popup when there is no update available.

**Steps to

[2018-01-16 10:05] hql287 commented on #170
Hi Huy, you're right!

It should only show if there's a new update. Will add this to the next release. 👍

In the meantime, please make Manta check for update only once a week.

![](https://d2ffutrenqvap3.cloudfront.net/items/0a0l3b0l2o2p2O2O1W0K/cheng-check-for-update.gif?v=b86e131e)

[2018-01-16 10:47] hql287 opened #171 "Invoice template guideline."
A lot of people asked me how to make custom invoices for Manta. Here's the first step to making the contribution easier. There are only a few constraints that a template needs to satisfy before it can be incorporated into Manta.

**Edge cases**

1. How does it look with/without a logo? I know a lot of people/business that don't have an official logo to use.
2. How does it look in black and while?

[2018-01-16 13:14] shipsgits commented on #132
It seems that both methods are correct, but that the simpler one is to apply the tax after the discount.

http://www.canadaone.com/ezine/expert/Should_taxes_be_applied_before_a_discount_or_after.html

[2018-01-16 16:54] hql287 commented on #57
Ok, https://github.com/hql287/Manta/pull/172 fixed this. You'll be able to edit your invoices with v1.1.2 which will be released this Friday. Enjoy!

[2018-01-17 14:29] mrbrianhinton commented on #166
Ahhh. That wasn't at all obvious. Even though clearly it is. My request still stands. Having it source the database of contacts, and autofill would be a better overall experience.

PS. Sounds 👍

[2018-01-17 16:41] dooleysworne opened #173 "2-decimal formatting?"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [X] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [X] Windows
- [X] Linux

**Which is the version/distribution of the OS?**
I have been using Manta 1.1.1 on a Windows 10 laptop and on a Linux Mint 18.2 Sonya laptop.

**Describe your issue**
First of al

[2018-01-18 01:16] #91 closed

[2018-01-18 01:24] hql287 commented on #132
Thanks, @shipsgits

[2018-01-18 03:46] hql287 opened #174 "Add System Requirements on README.md"
https://github.com/electron/electron/blob/master/docs/tutorial/supported-platforms.md

[2018-01-18 12:14] #57 closed

[2018-01-18 12:16] #164 closed

[2018-01-18 16:07] rcorzogutierrez opened #177 "Dynamic Form Field required"
Please answer these question so I can help you faster.

- [ ] I'm requesting a new feature.

- [ ] Windows

I'm using Windows 10 Fall Creator

Allow to dynamically configure the fields in the form as required. In my case I do not use the email field and I am obliged to put a generic one to continue. It could include this option in the settings of the invoice.

[2018-01-18 16:27] rcorzogutierrez opened #178 "Add or Hide Field in Form Client"
- [ ] I'm requesting a new feature.

- [ ] Windows

I'm using Windows 10 Fall Creator

In my case, the invoices that I generate are for clients in person, not for business. Sometimes I need more fields than the client form allows me, such as Address, Work Phone, Referred by etc. These options could be added in the invoice setting

[2018-01-19 01:49] keyeMyria opened #179 "on startup bug selectedTextBackgroundColor"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.

**Which version are you using?**

- [ ] macOS
When i start up by npm run start , the console log out "Electron Helper[1584:20104] Couldn't set selectedTextBackgroundColor from default ()".
It there any idea?

[2018-01-19 11:37] #170 closed

[2018-01-19 11:38] hql287 commented on #149
Fixed by #180

[2018-01-19 11:38] #149 closed

[2018-01-19 18:11] tbow opened #182 "Extra scroll bars on Windows"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [X] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [X] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**
Windows 10 1607

**Describe your issue**

Double scroll bars for main app window and dialog boxes

**Steps to replicate**

Eg:

[2018-01-20 04:03] hql287 opened #183 "Print or Digital?"
I'm just curious how do you use your invoices these days? Would you just email the PDF version or print it out and send via post?

[![](https://api.gh-polls.com/poll/01C48VHWV2QMPFJDT0FM805K7Z/Print)](https://api.gh-polls.com/poll/01C48VHWV2QMPFJDT0FM805K7Z/Print/vote)
[![](https://api.gh-polls.com/poll/01C48VHWV2QMPFJDT0FM805K7Z/Digital)](https://api.gh-polls.com/poll/01C48VHWV2QMPFJDT0FM805K7Z/D

[2018-01-20 10:46] hql287 commented on #182
Hi Troy, thanks for reporting this. It's a known issue and being worked on.

[2018-01-20 10:49] hql287 commented on #179
Hey @keyeMyria, thanks for reporting this.
I noticed this but it seems to be harmless. Do you want to work on a PR for this? ;)

[2018-01-20 10:51] hql287 commented on #178
Hey Rafael @rcorzogutierrez, sorry for taking a bit long to get back to you. Was a little busy shipping v1.1.2.
This shouldn't be hard to do. Would you like to work on a PR for this? :)

[2018-01-20 10:53] hql287 commented on #177
This looks nice! What's the name of the application that you're using? This is quite similar to your other request #178 , isn't it?

[2018-01-20 10:54] hql287 commented on #174
Fixed!

[2018-01-20 10:54] #174 closed

[2018-01-20 10:54] hql287 commented on #165
Fixed by #180

[2018-01-20 16:31] rcorzogutierrez commented on #178
Hi @hql287 I'm sorry to disappoint you, but I do not have the necessary knowledge for this. My skills in electron are very basic. React is my next challenge, for now Angular5 and Firebase is what I can offer.

[2018-01-20 17:04] rcorzogutierrez commented on #177
Hi @hql287 "mindbody" is the app. This request is similar, but I think there are 2 different developments

[2018-01-20 17:49] hql287 commented on #177
Yes. Same same but different 😄

[2018-01-20 18:54] rcorzogutierrez commented on #178
excellent idea @hql287 , it would be very useful. I am very motivated with this project and I hope in the near future to make significant contributions

[2018-01-21 09:01] remyscherer opened #185 "32 Bit Version"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [X ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [ X] Windows
- [ ] Linux

Is it possible to release a 32Bit Version?

[2018-01-21 15:54] edmael commented on #97
Hi @hql287
I'm trying to contribute to your project by adding this feature, but I'm having some trouble.

Here's the repository with the changes: https://github.com/edmael/Manta

Basically I edited these three files:
app.js - added the enableEmptyRow variable
forms.js - added an if statement to avoid the check if enableEmptyRow set to true
General.jsx - created a switch for enableEmptyRow true/fal

[2018-01-22 02:07] hql287 commented on #97
Hi Edoardo, thanks a lot for being interested in contributing to this project. 👍

Could you make a PR so we can work on it together?

Thanks!

[2018-01-22 22:16] henriquemacedo commented on #9
And I can help you with portuguese (pt-PT) translation 👊

[2018-01-23 02:40] hql287 commented on #185
Hey @remyscherer,

[Looks like this is possible](https://github.com/electron/electron/blob/master/docs/tutorial/supported-platforms.md). Have you tried the Windows installer in the releases tab yet?

[2018-01-23 02:42] hql287 commented on #178
@rcorzogutierrez Yeah, I'm always looking forward to learning from other developers so that would be great! 👍

[2018-01-23 04:27] hql287 opened #189 "TypeScript Integration"
Well, better late than never 😅

[2018-01-23 08:22] DarkSmile92 commented on #9
I'll do the german translation 👍

[2018-01-23 12:38] hql287 commented on #9
Thank you all very much for your patience. I've updated the issue with detail instruction on how to translate Manta on [Crowdin](https://crowdin.com/profile)

Please let me know if you have any issue.
Thanks! 🤗

[2018-01-23 14:24] henriquemacedo commented on #9
@hql287 🇵🇹 done!

[2018-01-23 14:31] DarkSmile92 commented on #9
German done 👍

[2018-01-23 14:39] SjamonDaal commented on #9
Dutch done! 🙂

[2018-01-23 14:54] davidsommer commented on #173
I think that would be an awesome Feature. I woud add the following Settings under Invoicing / Currency:

1. Decimal Format ( example 2 -> forcing all amounts to be printed 25.00)
2. Show currency before / after the amount (some currencys are printed after the amounts)

[2018-01-23 15:00] DarkSmile92 opened #190 "Customizable decimal separator"
**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [x] Windows
- [x] Linux

**Which is the version/distribution of the OS?**

Windows: Windows 10 Fall Creators Update
Linux: Ubuntu 17.10

**Describe your issue**

Most european countries use a comma (,) as decimal separator and not a dot (.).
It will be great

[2018-01-23 15:00] hql287 commented on #9
@SjamonDaal: I think each translation should have at least 1 upvote in order to be approved. Can you get another Dutch speaking dev to review the translation? Thanks!

[2018-01-23 15:02] eimantaaas commented on #9
Lithuanian would be great. I can help with this translation.

[2018-01-23 15:03] SjamonDaal commented on #9
@hql287 Sure, I'll ask my colleague to translate the file! Will be done tonight. 😉

[2018-01-23 15:10] hql287 commented on #9
@SjamonDaal Awesome, thanks!
@eimantaaas: That's great. I just [added Lithuanian](https://crowdin.com/project/manta/lt) per your request. Thanks! 👍

[2018-01-23 15:12] hql287 commented on #190
Good idea, this would be very handy! 👍
Seem to be related to https://github.com/hql287/Manta/issues/173 btw.

[2018-01-23 15:13] DarkSmile92 commented on #190
@hql287 yes just saw it, will implement both in one rush :)

[2018-01-23 15:14] nlaubres commented on #9
🇫🇷 completed !

[2018-01-23 16:06] DarkSmile92 commented on #190
Found a nice solution with `toLocaleString()` which takes region specific settings to solve this and #173 with one commit.
When given a locale, it replaces comma and dot accordingly to the region. No other settings needed.
Passing `minimumFractionDigits` and `maximumFractionDigits` with value *2* returns always 2 fractions.

See PR.

[2018-01-23 20:24] remyscherer commented on #185
Hey @hql287 ,
thanks for your quick reply.

I tried to install it with the setup.exe from 1.1.2, but it tells me that 64-Bit is required.
I have windows 7 Home Premium & my processor is AMD-FX6100 Six-core.
Do I need to install something from electron itself?

Thank you :)

[2018-01-24 04:39] hql287 commented on #9
Hate to break it to you but I just added 2 more files 😅 (and there'are still a few more to come).

[2018-01-24 04:54] hql287 commented on #97
@jkupczak: Can you be more specific? It wouldn't make sense if you just put in the name of the product/service without its respective quantity and price.

[2018-01-24 06:53] SjamonDaal commented on #9
@hql287
Well okay then 😋 I'll continue!

Common.json
Item 5, Phone Numner
Small typo

[2018-01-24 06:54] nlaubres commented on #9
Small typo >
settings.json
Item 17 "Open PDF after Exprt" instead of [..]Export

[2018-01-24 08:02] edmael commented on #97
@hql287 I think some people may be using Manta not just for the invoices, but also for quotations or something like that.

Even if you don't consider that and want your application used only for the invoices, there may be cases where someone wants to add a "non _concrete_ product" (like, "working hours" or something like that - I reckon it's not the best example, I know) and leave quantity and pri

[2018-01-24 09:14] hql287 commented on #97
Well, then we should develop a new feature to facilitate this instead of removing/disabling the current validation. In fact, someone already requested this feature https://github.com/hql287/Manta/issues/75.

I think the best way to go about this would be adding a drop-down or radio buttons for the user to choose whether they want to make an estimate/quotation/invoice/receipt. Based on this value w

[2018-01-24 09:22] edmael commented on #97
@hql287 yeah, the idea was to add a switch (we can call it "Enable Empty Line" or "Enable quotation") that allows the users to bypass the row check.

In my pull request I tried to do that: add a switch in the settings page that, if enabled, disable the check of empty rows.

The best way to do this, however, is like you said: a drop down menu in the settings (or in the invoice page) that allows the

[2018-01-24 11:59] henriquemacedo commented on #9
@joaotmdias can you check ([here](https://crowdin.com/project/manta/pt-PT#)) the portuguese translation?

[2018-01-25 10:03] hql287 commented on #97
@edmael: I'm glad we came to the same conclusion. Can you confirm that you're already working on my suggestion? If so, please make a separate PR or edit https://github.com/hql287/Manta/pull/186 so if reflects correctly what you're doing.

Maybe smt like 'Allow creating Esitmate/Quotation"? This would be a much bigger PR though. Let me know.

Thanks!

[2018-01-25 10:58] edmael commented on #97
Yeah, it's going to be a bigger work but I'm still willing to do it.

Not sure I **can** do it (not a guru of electron and js), but I'll definitely try and do a PR as soon as I have something.

[2018-01-25 12:07] hql287 commented on #97
Yeah, just give it a go and let me know if I can help with anything. Thanks!

[2018-01-25 18:22] AlphaStyle commented on #165
I forgot to say I got a beginning of a PR for this, basically you can disable/enable notifications in `settings/general` and the code would looks like this:
[code]
Right now I am deciding whether to include the Manta Icon or the Company Icon you choose in `settings/profile`. Either way I have to figure out how to first read the image so I can use it for the notification. Scroll down a little to se

[2018-01-25 19:05] rwachtler commented on #111
I could start working on this. Is there also some Slack channel for communication or should I drop the questions which may come up just here?

[2018-01-25 22:52] hql287 commented on #111
@rwachtler That would be great 👍

I think it would be better if we keep all the conversations here on GitHub. For everything else, you can drop me a line at hi@manta.life.

There's no deadline, but I would like to release once a week (on Friday) so you if we want to have this on the next release (which I would very much like to), the best time to submit a PR would be before next Wednesday (so we c

[2018-01-25 23:08] hql287 commented on #165
Nice 👍. I think I already added the notification helper with [this commit](https://github.com/hql287/Manta/pull/168/commits/bef9698df8ec9b634acb29dc24a87e20010abd20) Maybe we can try to reuse/refactor it?

It should always be Manta's icon as at the OS level, the user only needs to know which application just sent the notification. And this is already taken cared of by Electron.

Also, I noticed th

[2018-01-26 08:11] huyphams opened #193 "[Bug] Manta can't update itself"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- It's a bug.

**Which version are you using?**

- macOS

**Which is the version/distribution of the OS?**

- macOS High Sierra

**Describe your issue**

- Can't update

![screen shot 2018-01-26 at 3 05 06 pm](https://user-images.githubusercontent.com/3654622/35430367-8cc57a60-02aa-11e8-850f-eb6de5df3e08

[2018-01-26 09:10] filipkominik commented on #9
Can you add Czech language support? 🇨🇿

[2018-01-26 10:13] hql287 commented on #193
@huyphams: You still experienced this because Manta had to use the old mechanism in v1.1.1 to upgrade to v1.1.2. Once you have v.1.1.2, this problem should go away with all future updates (v.1.1.3 and later).

Please report again if it persists. Thanks! :)

[2018-01-26 12:12] hql287 commented on #9
Yes, will you be able to translate?

[2018-01-26 16:48] rcorzogutierrez commented on #9
:es: completed!

[2018-01-27 03:16] #193 closed

[2018-01-27 05:26] hql287 commented on #9
Just added `invoices` translation :)

[2018-01-27 09:48] AlphaStyle commented on #165
I didnt know about that commit :open_mouth: I have never done anything *preview* related so have never looked inside the `preview` folder :stuck_out_tongue:

Yes of course :slightly_smiling_face:

Does the Manta icon appear by default when you get notified?
It does not for me when I run the development environment on linux (`yarn dev`, `yarn start`) :disappointed:

When I try to run `yarn build` a

[2018-01-27 14:51] hql287 commented on #111
@rwachtler: Thanks! 👍

[2018-01-27 18:47] codedge commented on #9
🇩🇪 completed!

[2018-01-27 20:09] twmbx opened #196 "Error on startup v1.1.2"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**
- [x] It's a bug.

**Which version are you using?**
- [x] Linux

**Which is the version/distribution of the OS?**
Elementary OS ( Ubuntu 16.04 )

**Describe your issue**
App experiences error on startup

**Steps to replicate**
Launch Manta
![screenshot from 2018-01-27 22 02 45](https://user-images.githubu

[2018-01-28 18:38] filipkominik commented on #9
@hql287 yes - I will try to translate it ;)

[2018-01-29 00:14] hql287 commented on #9
Thanks, @codedge 👍

Also, I just added Czech. You can [start translating here](https://crowdin.com/project/manta/cs# ). Thanks!

[2018-01-29 04:43] hql287 opened #197 "Bug when edit invoice with empty contacts list"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

Eg: I'm using macOS Sierra

**Describe your issue**

Eg: I can't quit the app

1. Create a new invoice as usual
2. Delete all c

[2018-01-29 16:45] jkupczak commented on #97
@edmael suggested I may be using Manta for quotations. And while that is true, my comment about leaving off price and quantity wasn't related to that.

In the case of us selling a software service as a package, we have a need to add in separate features as their own line items. These various features do not have a specific price attached to them. At least not one we want to show the customer. But

[2018-01-29 17:02] hql287 commented on #97
This is interesting. It's a perfectly valid use case and I've never thought about this. I think I understand what you meant now and I can imagine that you're on alone on this.

@edmael any update on this? Do you think we should make a separate PR for this case? Or do you want to tackle it with your current PR?

[2018-01-29 22:34] filipkominik commented on #9
@hql287 🇨🇿 completed - but will appreciate any corrections from others (not sure if everything is translated correctly)

[2018-01-30 04:23] hql287 commented on #9
@filipkominik Awesome! Can you ask any friend of yours who can speak Czech to check? It's very easy to join, please [follow this guide](https://github.com/hql287/Manta/wiki/Translating-Manta).

Let me know if this works.
Thanks

[2018-01-30 06:04] JJYing commented on #9
Chinese 100% completed

[2018-01-30 08:59] hql287 commented on #9
Thanks, Ying 👍.  Is it possible for you to get another Chinese dev to check the translation?

[2018-01-30 09:00] JJYing commented on #9
@hql287 Let me spread the word to see if there is anyone to help   :D

[2018-01-30 09:07] JJYing commented on #9
By the way, I found that the strings appears in the Invoice templates are not in the translation system and they are directly written in the jsx template files, is it possible to also localize the invoice themselves by selecting language options?

[2018-01-30 09:12] hql287 commented on #9
@JJYing : I'm working on it at the moment 😄. You can track the progress with [these little checkboxes](https://github.com/hql287/Manta/pull/187#issue-290540828).

Btw, I just checked out your portfolio, very impressive!!! 👍

[2018-01-30 11:14] Chorcai opened #198 "Win 8"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

-  It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
-  Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

Win8 Pro (app running as Win7)

**Describe your issue**
When entering details, app returns an "UNKNOWN ERROR" it appears not to be ab

[2018-01-30 17:14] hql287 commented on #196
Hey Twaambo Haamucenje, sorry for taking a bit long to get back to you. Can you try to run the dev server and see if there's anything in the console?

[2018-01-31 08:31] rwachtler commented on #111
@hql287 Started working on it already, but had to postpone it to the weekend. Will open the PR on Sunday!

[2018-01-31 08:53] hql287 commented on #9
@SjamonDaal Sorry, I just uploaded the last 2 files 😜.
Thanks again for your help 👍

[2018-01-31 09:21] hql287 commented on #12
This should be fixed with #187

[2018-01-31 09:21] #12 closed

[2018-01-31 09:26] hql287 commented on #111
@rwachtler Awesome! 👍 Looking forward to it.

[2018-01-31 11:19] DarkSmile92 commented on #190
@hql287 I checked the behavior and need your advice :grinning:
Right now the function to format numbers uses `appConfig.get('general.language')` to get the locale and this will determine the separator.
If I implement a new parameter to choose between comma and dot as decimal separator, I need to overwrite the locale setting in favor to have correct formatted numbers.

So this issue will be solved

[2018-02-01 05:09] hezral opened #199 "Portable Version for Windows?"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [X] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [X] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

Eg: I'm using macOS Sierra
Windows 7

**Describe your issue**

Eg: I can't quit the app
Not really an issue. Hoping there is a

[2018-02-01 06:08] hql287 commented on #9
Alright, 6 languages completed so far. That's awesome guys! 😘

- [ ] 🇩🇪 German
- [ ] 🇳🇱 Dutch
- [ ] 🇫🇷 French
- [ ] 🇪🇸 Spanish
- [ ] 🇨🇳 Chinese Simplified
- [ ] 🇻🇳 Vietnamese

[2018-02-01 08:04] DarkSmile92 commented on #190
@hql287 Wow that is what I call a good answer! :grin:
From that point of view it totally makes sense. So I will implement the settings for comma and dot on this PR. Like you mentioned a separate PR for storing the values on the settings record is better to keep clear lines.

I will hurry up committing the rest of this PR.

[2018-02-01 14:31] bjo3rns commented on #9
@hql287 when do you integrate the other languages?

[2018-02-01 16:24] hql287 commented on #9
@bjo3rns I'll integrate all the languages once they have the approved translations. Would you like to help? [Please sign up as a translator here](https://translate.manta.life).

[2018-02-02 05:04] hql287 commented on #9
Guys, I just made some of you proofreaders on Crowdin.

@SjamonDaal:  Can you approve the Dutch translation?
@JJYing: Can you approve the Chinese translation?
@henriquemacedo: Can you approve the Portuguese translation?
@filipkominik: Can you approve the Czech translation?
@rcorzogutierrez: Can you approve the Spanish translation?
@DarkSmile92: Can you approve German translation?
@nlaubres: Can yo

[2018-02-02 10:40] hql287 commented on #9
Just added the language names for translation, (sorry, I forgot) this should be the last thing to translate before we can add a new language to Manta.

[2018-02-02 10:45] hql287 commented on #199
Hey @hezral: [I think it's possible](https://www.electron.build/configuration/win). Will export the portable version in the upcoming release. Please let me know if this work.

[2018-02-02 10:57] hql287 commented on #198
Hey @Chorcai: I just tried using an odd tax amount (eg 10.5%) and it's working as expected. Does the error appear _while_ you're typing or when you open the app? Thanks again for reporting this.

[2018-02-02 11:06] hql287 commented on #185
@remyscherer: The doc states that:

Do you know if your processor is ARM or x86? Also, you should not need to install anything to make it work.

[2018-02-02 14:24] hql287 commented on #190
So while working on this, I discovered another issue which is when the decimal separator is the same with thousand separator.

For example, `1,999.99` would become `1,999,99` which doesn't make sense. According to this [International Language Environments Guide from Oracle](https://docs.oracle.com/cd/E19455-01/806-0169/overview-9/index.html), there are only 3 cases:

| Sample Number          | Tho

[2018-02-02 15:19] henriquemacedo commented on #9
@joaotmdias can you check the portuguese translation?

[2018-02-02 15:24] hql287 commented on #190
Also, if you look at my commits, you'll see that these settings are grouped under `currency` and I think this should be implemented like `tax`. This means the currency field in Form page will also have these options.

So yeah, I think it would be a bit more work than we expected. Please let me know if you would like to finish the PR 😜

[2018-02-02 16:35] hql287 commented on #179
[This's actually related to Chromium and can be safely ignored](https://github.com/electron/electron/issues/4420#issuecomment-222393384)

[2018-02-02 16:35] #179 closed

[2018-02-02 16:36] #165 closed

[2018-02-02 17:03] #199 closed

[2018-02-02 22:27] remyscherer commented on #185
I can't figure this out.. But I have Atom installed, which is also electron and works.

[2018-02-02 23:04] hezral commented on #199
Thanks!

[2018-02-03 01:42] erudman21 opened #202 "Tour layout"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [x] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [ ] macOS
- [x] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

Windows 10

**Describe your issue**

Unnecessary scrollbar and part of slide image showing underneath slider for multiple slide

[2018-02-03 03:49] hql287 commented on #185
@remyscherer Can you share a screenshot of the error? I'll investigate this. Thanks!

[2018-02-03 03:50] hql287 commented on #202
@erudman21: Omg this looks terrible!! Thanks for reporting this. WIll fix soon!

[2018-02-03 08:57] remyscherer commented on #185
![mantaerror](https://user-images.githubusercontent.com/27846555/35765628-4d13fa08-08c8-11e8-9c70-58441a655f04.png)

It only says: 64-Bit-Windows is required
I use the windows installer 1.1.2 .exe

Thanks for checking! :)

[2018-02-03 14:10] #197 closed

[2018-02-03 19:09] deadcoder0904 opened #204 "Convert JSX to JS"
I don't think there is any reason to use JSX now.

Because the beginners starting React now won't know that the extension JSX works too.

[2018-02-04 02:43] hql287 commented on #204
I think I can understand what you meant. I hated JSX when I first looked at it, too but now I can't imagine how I would live without it. Plus, I don't think this is a good justification for not using JSX.

I'm open for changes but I do need more compelling reasons (than just a subjective statement) to do so. Since JSX is still being used in React doc I don't think it's gonna go away anytime soon.

[2018-02-04 02:43] #204 closed

[2018-02-04 06:16] deadcoder0904 commented on #204
Hey I was just stating about the extension man. `.jsx` to `.js` as it is a standard. But its not that important either.

[2018-02-04 07:16] hql287 commented on #9
@davidsommer: I noticed German is completed, can you help me to approve the translation (just made you the proofreader)? Thanks!

[2018-02-04 07:17] #44 closed

[2018-02-04 12:13] hql287 commented on #190
@DarkSmile92: Just wanted to let you know that I already started working on the second issue and probably will finish this PR as well. Feel free to fix another issue is you have time.

Thanks :)

[2018-02-07 01:03] stefanomarra opened #208 "Fixed tax method"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS Sierra

**Describe your issue**

There are some cases like in my current situation where the tax calculation is

[2018-02-07 02:57] hql287 commented on #208
Hey Stefan,

Thanks for being interested in contributing to Manta.

However, if I understand you correctly, Manta already has this feature. You can go to the Settings -> Invoice and turn on the Tax field to make it required in the form and adjust the tax amount as needed.

The next time you open the form, the tax field is already populated for you.

[2018-02-07 04:40] isoppp commented on #9
@hql287 I can try Japanese if you need 😄

[2018-02-07 06:02] hql287 commented on #9
@isoppp That would be great, please do! :)

[2018-02-07 09:46] stefanomarra commented on #208
Not really what I mean. The idea is to provide a non-percentage tax calculation. In my particular case, I have to add a fixed 2€ tax (not %) on the total amount.

[2018-02-07 11:04] isoppp commented on #9
Japanese done. But need more check and vote X<

[2018-02-07 11:16] hql287 commented on #208
@stefanomarra: Got it 👍Sounds good to me, I think this would be very handy.

Also, would you be able to make it something even more flexible? I think some people from France (are you a French, too? 😜) asked me to turn the current tax feature to something like this:

- [ ] Allow one invoice to have multiple tax items. (It works pretty much like Product/Service field. You need at least 1 active tax

[2018-02-07 11:24] stefanomarra commented on #208
Sure, I can try to work on these features as well 👍

Btw, I'm from Italy 😄

[2018-02-07 11:31] hql287 commented on #9
@isoppp Just made you the proofreader for Japanese. Would you be able to get someone else also speaks Japanese to double check your translation before approving them?

[2018-02-07 11:32] hql287 commented on #208
Awesome! 👍

[2018-02-07 12:19] isoppp commented on #9
@hql287
Sure thing.
I try ask friends check translations :D

[2018-02-11 04:20] #173 closed

[2018-02-11 04:20] #190 closed

[2018-02-11 04:26] hql287 opened #209 "Save configs to Invoice records"
Right now invoices don't remember things such as default template, date format, language and other settings. It would be nice if we can make the invoice remember all of these so the next time we come back to export the PDF we don't need to adjust these settings again

[2018-02-11 10:24] lucasbento opened #210 "Support markdown in invoice note"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra 10.13.1.

**Describe your issue**

It would be nice to have a way to style the note message of the

[2018-02-12 11:59] marcobischoff opened #211 "German date notation"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [ x ] I'm requesting a new feature.

**Which version are you using?**

- [ x ] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**
macOS High Sierra

**Describe your issue**
As in the future there will be the german language added, it would be great to ha

[2018-02-12 12:04] marcobischoff opened #212 "Edit contacts"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [ x ] I'm requesting a new feature.

**Which version are you using?**

- [ x ] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**
macOS High Sierra

**Describe your issue**
It would be nice to have the option to edit the contact information, as it could

[2018-02-12 12:06] marcobischoff opened #213 "Default price per contact"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [  x ] I'm requesting a new feature.

**Which version are you using?**

- [  x ] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**
macOS High Sierra

**Describe your issue**
Is it possible to have a default price per contact, as it could be that you hav

[2018-02-13 03:51] hql287 commented on #211
Fixed with #214

[2018-02-13 03:51] #211 closed

[2018-02-13 03:56] hql287 commented on #213
@marcobischoff I thought about this. I think this is called group pricing (If I understand you correctly). So if an item is $10 and the contact belongs to a group called VIP-1 (which will automatically apply a 10% discount to all products/services) he/she will only need to pay $9 for that item.

If this is what you want, I think we'll need to wait until the Product/Service feature is implemented.

[2018-02-13 04:04] hql287 commented on #212
@marcobischoff Yes, this would be nice. 👍Would you like to work on a PR for this? I think the implementation is straightforward and very similar to invoices C.R.U.D operations.

A couple of things to keep in mind:

1. Once the contact information is changed, would you change the invoices that are associated with that contact?
2. While you're at it, probably tackle these as well https://github.com/

[2018-02-13 08:01] rwachtler commented on #213
@hql287 Yup, I implemented already an additional component for the services similar to your `<ItemList />` component and some of the actions.
What already works:
- The "Services" tab is already there
- Adding and removing and rearranging element already works (it's also within the store)

What I still have to do:
- Make the changes persistent within the database
- Add a select input field to the "

[2018-02-13 08:56] marcobischoff commented on #213
@hql287 it thought more of something, if you do several tasks for the same price for the same customer.
Make this sense to you?

[2018-02-13 11:14] marcobischoff commented on #212
@hql287 I'm totaly new to react/electron, but I can have a look and maybe I can create a PR for this.

[2018-02-14 16:35] hql287 commented on #212
Well, then I would recommend picking up small issues to get familiar with the code base first. May I suggest:
*  https://github.com/hql287/Manta/issues/29
* https://github.com/hql287/Manta/issues/129
* https://github.com/hql287/Manta/issues/86
* https://github.com/hql287/Manta/issues/76

[2018-02-14 22:13] marcobischoff commented on #86
@erhankaradeniz what kind of data would you like to store for this? Additional fields such as "reference", "PO" or just a field to enter data like the note field?

[2018-02-16 13:53] marcobischoff commented on #76
@peonmodel Where should this be displayed on the PDF or in the overview of the invoice?

[2018-02-17 08:31] hql287 commented on #213
Hey guys, sorry for taking a bit long to get back to you. We're celebrating Lunar New Year here in S.E.A. Pretty much like Thanksgiving and Christmas, lots of food means slow in response 😂

Anyway, @rwachtler Will check out your fork today. Can you allow me to push to your fork? Thanks!

@marcobischoff : Can you give a more detailed example? I'm not sure I understand what you mean.

[2018-02-17 09:18] #209 closed

[2018-02-17 11:02] marcobischoff commented on #213
Lets try it: A user has to write reports to the client as he sell his work on hourly rates. So he would fill out the description the time he used for this task and also the price. It would be a lot more comfortable if he only needs to fill out the description and the hours, the price is automatically there.

I hope it is a little bit clearer now.

[2018-02-17 12:44] rwachtler commented on #213
@hql287 Done, I did my changes in the `feature/services` branch.

[2018-02-19 09:50] Dan458 opened #218 "Feature Request: Backup and Restore"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra

**Describe your Feature**

It would be great if there was a way to backup and import all data cont

[2018-02-19 09:52] Dan458 opened #219 "Feature Request: Reporting Interface"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra

**Describe your Feature**

It would be great if there was a reporting interface, reporting on thin

[2018-02-19 09:59] Dan458 opened #220 "Feature Request: Stamp invoice as paid"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra

**Describe your Feature**

When we mark the invoice as paid, it would be useful if the invoice cou

[2018-02-19 14:32] marcobischoff opened #222 "Inverted comma missing"
Please answer these question so I can help you faster.

**Is it a bug or a feature request?**

- [ ] It's a bug.
- [x] I'm requesting a new feature.

**Which version are you using?**

- [x] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**
macOS High Sierra

**Describe your issue**
There are some countries which uses as thousand-separator an inverted comma.

[2018-02-19 14:56] rcorzogutierrez commented on #219
Hi
This request is similar #106 , check it.

[2018-02-19 14:58] Dan458 commented on #219
Yes it is. Just noticed that it has already been raised.

[2018-02-19 14:58] #219 closed

[2018-02-19 16:12] hql287 commented on #219
Thanks! @rcorzogutierrez

[2018-02-19 17:35] hql287 commented on #111
@rwachtler: Thanks for taking the time working on this. I just tried out your fork but don't understand how it works. A few questions:

* How can I save a product/service?
* Why do we need the quantity field?
* How can I select existing product/service?

[2018-02-19 17:37] hql287 commented on #218
I think this has been discussed before as well. Pretty similar to this: https://github.com/hql287/Manta/issues/96

[2018-02-19 17:53] rwachtler commented on #111
That's what I meant with my comment within the referenced issue:

---

It is not needed, since I took pretty much everything from the `<ItemList />`, this was also copied. I have anyway to refactor a little bit afterwards.

---

Already wrote about it in the referenced issue

---

As already mentioned, there are still some optimizations and cleanup needed for my changes.

[2018-02-19 18:04] hql287 commented on #111
Ah, yes! Sorry, I missed that.

[2018-02-19 18:19] hql287 commented on #111
This's a tough question 😅

[2018-02-20 08:03] peonmodel commented on #76
For templates i have seen, the client signature field is typically on the bottom right hand corner of the last page, while own signature field is on the bottom left

[2018-02-20 12:15] marcobischoff commented on #220
@hql287 regarding styled-components, you mean the following

`const InvoicePaid = styled.div`
{
  font-size: 39px;
  line-height: 45px;
  ...
}`

` <InvoicePaid status={invoice.status} >
     <div>{t('invoices:status:paid')}</div>
  </InvoicePaid>`

[2018-02-21 09:05] IL4Miy opened #227 "Can't remove discount when editing"
**Is it a bug or a feature request?**

- [x ] It's a bug.
- [ ] I'm requesting a new feature.

**Which version are you using?**

- [x ] macOS
- [ ] Windows
- [ ] Linux

**Which is the version/distribution of the OS?**

I'm using macOS High Sierra

**Describe your issue**

I can't remove the discount field after creating an invoice with discount.

**Steps to replicate**

1. Create a new invoice wit

[2018-02-22 07:24] hql287 commented on #227
@IL4Miy : Thanks for reporting the issue, I'm fixing it right now!

[2018-02-22 07:27] #129 closed

[2018-02-25 12:45] erhankaradeniz commented on #86
A field to enter data would be enough for me

[2018-02-26 10:30] marcelblanarik commented on #9
Hey, I could translate Manta to Slovak language :)

[2018-02-27 19:50] jens-t opened #228 "PouchDB Problem"
**Is it a bug or a feature request?**
- It's a bug.

**Which version are you using?**
- Linux

**Which is the version/distribution of the OS?**
- Ubuntu Gnome 16.04.4 64-Bit

**Describe your issue**
- Can't save a new invoice

**Steps to replicate**
- open app
- fill in the required fields
- click "save & preview"

**Additional infos**
- i tested the .deb package, the appimage and installed with y

[2018-02-27 21:00] jens-t commented on #228
Seems to be a Problem with electron, indexdb is not reachable. if i create a indexeddb database in the devtools console with `indexedDB.open("test");`, i get the following error:
[code]

[2018-02-27 21:23] jens-t commented on #228
Ok, i found the reason, why indexeddb is not reachable, but not the why. The AppImage package is causing this. I restarted the OS and all worked fine after launching the app with yarn. After that i closed the yarn instance and opened the appimage version. And indexeddb access was broken again. Also in the yarn instance, i opened after i closed the appimage instance.

[2018-02-27 21:38] jens-t commented on #228
Same Problem with the .deb package ...

How can i debug a packaged version of the app?

[2018-02-28 07:45] hql287 commented on #228
Hi @jens-t , my apologies for this inconvenience. A couple of questions:

- What's the version of Manta (packed app) that you're using?
- Can you use the app via the dev-server without any problem? (Given that you're only running this instance and there's no instance of the packed app is running)
- Can you try `yarn release:linux` then run the exported app and see if the problem still persists?

[2018-02-28 10:12] jens-t commented on #228
The Version of the App packages i tested was 1.1.2 ... (appimage/deb)
And yes, I can use the app with the dev server without any problems, as long as there runs no packaged app before or in parallel.

As soon as i can test a self exported package, i post the results.

[2018-02-28 15:57] hql287 commented on #9
@marcelblanarik Hey Marcel, thanks for being interested in translating Manta. Have you signed up on Crowdin yet? If yes, please let me know your username so I can set you up as the proofreader for Slovak. Thanks! 👍

[2018-02-28 17:32] marcelblanarik commented on #9
@hql287 Hey Hung, my username on Crowdin is marcel251. Thanks

[2018-02-28 18:36] jens-t commented on #228
Ok, i've tested the "self build versions", same Problem with .deb & .appimage ...
I investigte further. Found some electron debug tools that should help. devtron is already installed, but nowhere initiated. electron-debug in combination with devtron & electron-react-devtools seems good to me.

[2018-02-28 19:37] jens-t commented on #182
This happens on linux too. if the previewer window is big enough they disappear, so it is probably a css bug. i see if i can find a fix.

[2018-02-28 21:40] jens-t commented on #228
Tested the linux packages with forced devtools. The problem seems to be that the app is not properly closing on its own. so if you open the app the second time indexeddb is blocked by the app opened before running in the background. if i start the app from the terminal, i can kill the app completely, stat it a second time and everything is fine.

Don't know yet why the app is not closing properly

[2018-03-01 05:25] hql287 commented on #182
Sorry, I kept forgetting about this. And yes, it's definitely a CSS bug. Thanks for looking into this 👍

[2018-03-01 05:31] hql287 commented on #228
@jens-t Ok this confirms it.

The `pouchDB` document is not very helpful on this but from my experience, when this issue comes up, 99% of the time it has something to do with multiple instances of the app is running so one of them cann't connect properly. So if you run the dev server and then open the exported app, the same issue would show up.

[2018-03-01 05:49] hql287 commented on #9
@marcelblanarik Please join Manta on Crowdin first so I can set you up as the proofreader. Thanks!

[2018-03-01 06:28] hql287 commented on #228
Since we found the culprit, I guess this has more to do with the way Manta works rather than `pouchDB`. Feel free to change the title to something more relevant, or close the issue and open a new one if you want. Thanks!

[2018-03-01 06:49] marcelblanarik commented on #9
@hql287 Done.

[2018-03-01 08:18] marcelblanarik commented on #9
@hql287 Slovak translation is done. 👍

[2018-03-01 08:56] jens-t commented on #182
Yeah, looks like a padding is added to the height, a simple border-box should do it. If im right.

[2018-03-01 10:08] jens-t opened #233 "Quit App on Linux (and windows?) when the last Window is closed"
Followup on #228 .

If you close the last window in linux the app runs still in the background. If you then start the app again, the indexeddb is blocked, because of the first instance still running in the background. So the second instance wont work.

You can use `killall manta` to close the instances running in the background, but thats not really a fix. Just a temporary workaround.

I would sug

[2018-03-01 10:09] jens-t commented on #228
Closing this ticket, followup in the ticket #233 .

[2018-03-01 10:09] #228 closed

[2018-03-01 10:20] hql287 commented on #9
@marcelblanarik Yes, just noticed it. You're fast, bro!!! 👍

[2018-03-01 10:35] hql287 commented on #233
I think closing the `mainWindow` should quit the app on both Windows and Linux. Do you feel that's natural? If it does then we probably don't even need to handle 1.2

[2018-03-01 10:59] jens-t commented on #233
(a) At first i thought closing the `mainWindow` should quit the app only if the previewWindow is also closed. So you can keep a `previewWindow` open when needed.

(b) But since it is more an overlay working together with the `mainWindow` maybe it is better to quit the app on win/linux only and always when the `mainWindow` is closed, as you suggested.

so, if we settle on (b), point 2 & 3 of your c

[2018-03-01 11:12] hql287 commented on #233
I guess you're right 😄, but I would write it like this:

[code]

Just tested it out on macOS and it works as expected.

[2018-03-01 11:47] jens-t commented on #233
Does `app.quit()` close the devtools? I make some tests and change the pull request accordingly.

[2018-03-01 12:02] hql287 commented on #233
I don't think it does this by default, [but on the `before-quit` event, the app will destroy all windows instances](https://github.com/hql287/Manta/blob/dev/app.js#L410-L416) and that's enough to quit the app.

I would double check to see if leaving the `devTool` open would result in any side effect, or maybe just close it explicitly:

[code]

[2018-03-01 12:02] marcelblanarik commented on #9
I'm glad that I could help. And OK, I'll ask my friend to check it.

[2018-03-01 12:43] hql287 commented on #196
Close due to inactivity.

[2018-03-01 12:43] #196 closed

[2018-03-01 12:44] hql287 commented on #198
Close due to inactivity

[2018-03-01 12:44] #198 closed

[2018-03-01 12:45] hql287 commented on #233
Hah, this's related to https://github.com/hql287/Manta/issues/141!

[2018-03-01 12:45] hql287 commented on #141
Close in favour of https://github.com/hql287/Manta/issues/233

[2018-03-01 12:45] #141 closed

[2018-03-01 13:56] hql287 commented on #227
Ok, found the culprit. The current implementation of updating a doc will merge the current doc with the new data so all existing key will remain in the doc. It's an easy fix and will be included in the release tomorrow.

[2018-03-01 22:58] jens-t commented on #182
#236 should fix the problem :)

[2018-03-01 23:42] jens-t commented on #96
I think @mathieudutour has a point. CSV is ok for human readability, and its fine to export it with a click on a button. But additionally some realtime export to a folder set in the settings of the app, would be what i'm more interested in. So that you can watch the folder for filechanges with whatever syncinc tool you'r using :)

Opinions?

[2018-03-02 05:36] hql287 commented on #96
Sounds interesting. One of the reasons that I chose `pouchDB` was because of its ability to sync with a remote server. But this should be a separate feature and deserve its own PR.

@AlphaStyle has already been working on this for some time. You might want to take a look here: https://github.com/hql287/Manta/pull/143.

[2018-03-02 10:18] #227 closed

[2018-03-02 11:44] jens-t commented on #233
feature merged with #231

[2018-03-02 11:44] #233 closed

[2018-03-02 12:23] jens-t commented on #96
Absolutely! Just wanted some feedback before starting a new feature request :)

[2018-03-02 13:26] hql287 commented on #96
Sure, will get back to this after I'm done with releasing a v1.1.3

[2018-03-02 15:26] #182 closed

[2018-03-02 16:00] jens-t opened #239 "internationalize dates"
The format of the dates is not translated yet. To change this i looked into the code and thought a bit about it and came up with the following todos:

- set locales for moment.js (@hql287 saw you already did this, not sure yet if it is globally available this way, will check)
- refactor form field "Settings -> Invoice -> Other -> Date Format" options
- use locale for form field "Create A New Invoi

[2018-03-02 16:52] hql287 opened #241 "Update v1.1.3 Screenshots"
This version introduces quite a lot of changes to the UI, probably it's time to update those screenshots.

[2018-03-02 16:57] hql287 opened #242 "Update Profile won't reflect on Invoice"
Users will need to restart the app for the changes to take effect.

[2018-03-02 16:59] hql287 opened #243 "Missing translation for invalid custom invoiceID validation"
![screen shot 2018-03-02 at 23 58 24](https://user-images.githubusercontent.com/2544327/36911273-9da86694-1e75-11e8-938f-e1d249d03313.png)

[2018-03-02 17:01] hql287 commented on #202
Fixed with #236

[2018-03-02 17:01] #202 closed

[2018-03-02 17:15] hql287 opened #244 "Distribution Channels?"
First of all, this is not a technical question. I'm just curious where do you guys go to find free software nowadays? Some websites found Manta and added it to their site such as [Softpedia](http://www.softpedia.com/get/Others/Finances-Business/Manta.shtml) and I think it's a good idea to reach out to them as well.

The thing is don't know much about this, so I need your input 😅

**All Platforms**

[2018-03-02 17:16] hql287 commented on #239
Wait, what's your question again? 😅

[2018-03-02 17:18] hql287 commented on #208
Any update on this @stefanomarra

[2018-03-02 17:19] hql287 commented on #178
Ok, this should go into the next release

[2018-03-02 17:21] hql287 commented on #75
Ok, let's try to add this in the next release

[2018-03-02 17:21] hql287 commented on #74
Close due to inactivity and in favour of #7

[2018-03-02 17:21] #74 closed

[2018-03-02 17:27] jens-t commented on #239
I updated the issue description and marked the questions :laughing: better? :see_no_evil:

[2018-03-02 17:56] stefanomarra commented on #208
@hql287 still no updates, I was a bit busy in the last few weeks. I will probably be more active from the next week and start the integration. I'll keep you updated!

[2018-03-02 22:43] rcorzogutierrez commented on #244
I have no experience in windows store, but I have seen many free applications
https://developer.microsoft.com/en-us/store/publish-apps

[2018-03-03 14:38] hql287 commented on #244
Thanks, @rcorzogutierrez 👍

[2018-03-03 16:35] hql287 commented on #243
Just added the missing keywords to Crowdin, now waiting for the translation.

[2018-03-03 23:22] jens-t opened #246 "sidebar overflow problem"
Found some design bugs on linux, probably also showing on macOS and windows ...

(1) the pathfield in the invoice tab of the settings overlays notifications popups:
![notification-overlayed-by-pathfield](https://user-images.githubusercontent.com/9143480/36940324-23ac0860-1f41-11e8-84fc-205a0cee685c.png)

(2) preview window has still multiple scrollbars, if it gets too small:
![preview-multiple-scr

[2018-03-03 23:25] jens-t commented on #239
I make a PR, then it's maybe more clear what i mean.

[2018-03-04 00:13] jens-t commented on #239
Closing here ... continued in #247

[2018-03-04 00:13] #239 closed

[2018-03-04 02:48] hql287 commented on #246
Yes, I knew about this but forgot to file an issue 🙈. Thanks for reporting it.
This should be an easy fix with CSS though.

on `macOS`, the `previewWindow` still looks fine at its minimum size. I think this has something to do with CSS as well.

Just assigned this issue to you. Thanks for looking into this 👍

[2018-03-04 04:08] hql287 opened #248 "E2E Test with Spectron"
![ci9dn7vwyaagbuv](https://user-images.githubusercontent.com/2544327/36942035-4e30c93a-1f9c-11e8-8b57-f8e1345fde18.jpg)

Nuff said!

[2018-03-04 12:09] #242 closed

[2018-03-04 15:15] jens-t commented on #171
Building a custom theme right now. I think it isn't necessary to split a template into react subcompontents and using styled components, maybe the entry barrier for making a new theme is lower if there's only one component and one css file, perhaps some font files. i will send a pull request once it's finished, then we can look together if that template structure fits for you and what to change. i

[2018-03-05 01:30] hql287 commented on #171
Hey @jens-t. It's true, this depends on how the template is structured. The two current templates are fairly simple but each still has 3 distinct sections: header, main and footer. So it makes sense to split the template into 3 components respectively for organizational purpose.

If the template is simpler (which has only 1 or 2 sections), then probably it would be better to keep them in one compo

[2018-03-05 08:22] marcelblanarik commented on #9
@hql287 Hey, I asked my friend to check Slovak translation, he made a few changes, I approved them. Please check it. Thanks

[2018-03-05 10:36] hql287 commented on #9
@marcelblanarik That's great! But I see only 8% of the translation are approved?

[2018-03-05 10:57] hql287 commented on #243
@jens-t Can you add the missing translation for German? Thanks! :)

[2018-03-05 12:22] marcelblanarik commented on #9
@hql287 Ah, sorry, I'm new to Crowdin, now it should be alright. :)

[2018-03-05 13:44] hql287 commented on #9
@marcelblanarik Nice work, bro! 👍 Thanks!

[2018-03-05 14:11] marcelblanarik commented on #9
No problem 👍

[2018-03-05 15:26] rrussi commented on #9
Hey, Italian translation is done but not approved...

[2018-03-05 15:36] hql287 commented on #208
Cheers, bro! 👍

[2018-03-05 15:38] hql287 commented on #9
@rrussi Yes, I just noticed that as well. @stefanomarra is current the proofreader for Italian at the moment, you guys might want to have a little chat with each other :)

[2018-03-05 15:54] stefanomarra commented on #9
Hi, @rrussi, I will go through all the texts today and approve the ones that are good to go. There are however some texts that maybe could be improved or upvoted. If you could help it would be really great.

[2018-03-05 20:38] jens-t commented on #171
Sure. If you build a theme based on react-components/styled-components, splitting like this makes sense. I meant, it is maybe worth a try to use just one react-component and extract template data transformation, styles and html into different files. if we're talking about templates. Basically just html & s/css, as you mentioned, plus a data transformation plain js file :)

I know what you mean. Bu

[2018-03-05 20:54] jens-t commented on #243
the missing german translation is already complete on crowdin, and i would approve it :)

[2018-03-06 03:17] hql287 commented on #243
@jens-t Thanks, I just approved them and saved you the trouble! :D

[2018-03-06 04:04] hql287 opened #250 "View Filter for Invoices page"
## Expected Behavior

It would be nice if we can add a view filter that allows the user to:

- View only Unpaid (or other statuses) invoices.
- Switch between `table` and `card` mode

The improved version of this feature would be pagination with the option of showing 10, 20, 30, xx ... number of invoices per "page"

## Current Behavior
It's not possible to do this at the moment.

## Possible Solut

[2018-03-06 04:53] hql287 commented on #246
I fixed the overlay bug in https://github.com/hql287/Manta/pull/251.
Please make a PR to this PR when you're done with the second one.
The 3rd "bug: is kinda tough because it depends on the length of the translation.

[2018-03-06 05:12] hql287 opened #252 "Add more languages"
Let's add more language to Manta. Here's the list of languages that will be added to the next release, assuming no new keywords are introduced in the next few days:

- [ ] Greek
- [ ] Italian
- [ ] Spanish
- [ ] Slovak
- [ ] Lithuanian
- [ ] Tagalog

Some other languages that I would love to include:

- [ ] Thai
- [ ] Turkish
- [ ] Japanese
- [ ] Korean
- [ ] Portuguese
- [ ] Russian

[2018-03-06 07:00] SkyzohKey commented on #246
To fix the 3rd bug, just set a min-height, not height. This way the text will flow accordingly to the length of the translation ;)

[2018-03-06 09:31] rrussi commented on #9
Ok @stefanomarra, if you approve texts you think are good then we can chat about the ones that can be improved.

[2018-03-06 09:51] jens-t commented on #246
Ok, thanks for the info, looking into this later today.

[2018-03-06 10:11] hql287 commented on #246
Thanks, @SkyzohKey 👍
Btw, saw your post on Spectrum earlier today and just wanted to say congratulations on launching [Tox](https://github.com/Tox-Client/client). 🎉

[2018-03-06 14:14] rrussi opened #254 "VAT ID in profile form"
### Prerequisites

Having a VAT ID in the company description header is mandatory for some countries. The proposal is to add a "VAT ID" text field in the company profile form.

## Expected Behavior

The VAT ID would be saved as any other company data.

## Current Behavior

No VAT ID field

## Context

Company profile form

## Your Environment

* Version used: 1.1.3
* Operating System and version:

[2018-03-06 16:41] SkyzohKey commented on #246
Thanks @hql287 ! I also saw your post about Manta! Spectrum is kind of great. Anyway great work you put here with Manta 😇

[2018-03-06 18:21] jens-t commented on #246
So, (2) and (3) are caused by the same problem. the sidebar is currently a flexbox, if the elements exceed the defined height of 100%, they get squished. and the multiple scrollbars are shown because of the overflow of the squished elements.

**Fix A**
If you want to keep it a flexbox, one can set the content height of the window as the flexbox height.
Problem: You have to scroll to reach the acti

[2018-03-06 19:52] jens-t commented on #246
@hql287 Whats the current behavior on macOS, if the window is that small? Maybe you have to enable german to get similar problems ...

I think one can use `position: sticky` in combination with **Fix A** to keep the action button in the visible area of the window. In this case it could overlay some settings, but that's no problem with a good designed action overlay.

[2018-03-06 19:55] SkyzohKey commented on #246
Nope. Just set `height: 100vh;` on the sidebar, then play with `flex-grow` & `flex-basis`. 😇

[2018-03-06 19:58] jens-t commented on #246
@SkyzohKey did you test this on windows and linux?

[2018-03-06 20:17] jens-t commented on #246
ha, i totally forgot `min-height: min-content;` that should solve the overflow problem with the flexbox. that means **Fix B** with `display: flex` instead of `display: block` would be possible and i think the best solution.

but that would mean a scrollbar inside the sidebar, so a wider sidebar would be necessary/better, i think.

[2018-03-06 21:28] SkyzohKey commented on #246
Just set `overflow: none; overflow:auto;` ?

[2018-03-07 04:31] hql287 commented on #246
@jens-t: The sidebar has a fixed width so I think it's related to the length of the translation rather than the size of the window. And yes, it looks similar to yours

<img width="191" alt="screen shot 2018-03-07 at 11 29 40" src="https://user-images.githubusercontent.com/2544327/37073665-e6870dec-21fa-11e8-8384-847b9a73255c.png">

[2018-03-07 04:33] hql287 commented on #246
@jens-t Are those the shortest German translation for "Export PDF" and "Save Configs"?

[2018-03-07 05:46] SkyzohKey commented on #246
@hql287 For the checkbox label, set the line-height to something small, then on the label+text container apply alignItem: 'center'. I guess it should work. I'll make a PR fixing the visual glitches ;)

[2018-03-07 08:23] jens-t commented on #246
So, it's a general sidebar overflow problem for all os.

You could drop the "als", but thats not really a solution, is it? :)

Can you please open a new issue for this, thanks!

@hql287 what do you think about the possible fixes, which way is better in your opinion?

[2018-03-07 09:02] hql287 commented on #246
Alright, let's take some time to clearly address the problems that we're trying to dealing with here. From the way I see it, there're currently 2 issues with the sidebar left to fix:

1. It's not wide enough to house the translation in one line.
2. It's not tall enough to house all the configs so when the windows got smaller, they overlap each other.

**Possible solutions**

For the first problem,

[2018-03-07 09:40] hql287 commented on #254
@rrussi: Thanks for reporting this. Actually, you can fill in your taxID inside the Tax custom field.

![Toggle TaxID Field](https://media.giphy.com/media/todMIAnb08cnUD4Xk1/giphy.gif)

But I guess I forgot to output it to the templates 🙈Will make a PR for this!

[2018-03-07 09:59] hql287 commented on #254
Also, the way Manta handles Tax at the moment is that everything that's related to Tax goes with the invoice, instead of the company profile. The rationale was that if an invoice doesn't have tax applied then probably it shouldn't display any tax information at all.

I noticed that you're from Italy (from your profile), are you required to display the TaxID of your company even though the invoice

[2018-03-07 10:19] jens-t commented on #246
Thanks for the feedback! :)

For me that is no problem, that's what we want, or?

**First Problem**
Some clarification: Fix A produces also a scrollbar if we get more config elements in the future. (it would depend on the height of the preview, to not break, which seems mor like a fast hack than a fix) So it must in any case be a combination of Fix A & B. Didn't thougt about that yesterday. So to

[2018-03-07 10:39] hql287 commented on #246
@SkyzohKey: That would be great! And thanks for the encouragement earlier 👍

Yes, I would like to make sure it can keep all the translation in one line.

Yes, that's what I thought earlier because they seem very similar to me.
Anyway, I think the important point here is that the sidebar should be scrollable when necessary:
- Windows size is too small
- Configs list is too long

[2018-03-07 10:43] hql287 commented on #246
I just found a perfect example that illustrates this:

![Panda](https://media.giphy.com/media/4Z7DMa1NfhUwqNtr4G/giphy.gif)

Notice how the `Add Feeds` button stay at one place.

[2018-03-07 10:48] rrussi commented on #254
@hql287, in Italy is mandatory to show the Tax ID in the company profile header. For example :

MyCompany Srl (Name)
Via Masone, 9 (Address 1)
24121 Bergamo (BG) (Address 2)
P. IVA: 03887650160 (TAX ID)
e-mail: info@overmob.com (EMAIL)

In this case TAX ID is not related to the invoice but is related to the company profile. It's an identifier.

[2018-03-07 10:49] hql287 commented on #254
@rrussi So you can have invoices with no tax applied to the items in it but still have to display the Tax ID with your company profile?

[2018-03-07 10:50] hql287 commented on #254
If that's the case then maybe I should move the Tax ID field under the company profile

[2018-03-07 11:02] rrussi commented on #254
I think we'll need both.
The TAX ID in the company profile in Italy is mandatory.
The TAX ID in the invoice would be mandatory as well because for example in Italy the tax is called "IVA", in england "VAT".

[2018-03-07 11:20] jens-t commented on #246
Already proposed this solution at the beginnning of the thread :smile:

So, yes, i also think this behavior fits for this problem, will make a working version of this as part of the pull request. In your example the background color of the sticky actions container isn't the same as the bg color of the sidebar, i think that's important and it is what i meant with:

**multiline sideabr items**

That

[2018-03-07 11:21] hql287 commented on #246
**Regarding the second issue**

I agree, let's make another feature request/enhancement for this.

(2) & (3) That would be nice additions, but aren't really related to the base styling issue, cause it are just mechanisms to give also the user control about this. a base styling for the default fixed width of the sidebar is still needed and should look good in all language and winow size cases. i wo

[2018-03-07 11:24] jens-t commented on #246
I add some screenshots to the PR, with different languages and widths ...

[2018-03-07 11:25] hql287 commented on #246
Oh really, haha. Sorry, must have missed that. But I'm glad we came to the same solution.

Yeah, this should be a simple fix, even a top border will do as well.

[2018-03-07 11:27] jens-t commented on #246
Not really a great fan of borders, they look so 2000 :laughing: but yeah would work as well! :)

[2018-03-07 11:28] hql287 commented on #254
I think you misunderstood what I meant. The current Tax field in the form is composed of 3 inputs: `TaxID`, `TaxAmount` and `TaxMethod`. What I meant was that maybe I should move this `TaxID` to the profile area instead, so that the Tax field in the form should only contains `Tax Amount` and `TaxMethod`?

[2018-03-07 15:47] hql287 commented on #243
Fixed with #249

[2018-03-07 15:47] #243 closed

[2018-03-07 19:19] jens-t commented on #246
Fixed here: #257

[2018-03-07 19:21] jens-t commented on #171
Ok, that bad? :laughing: :see_no_evil:

[2018-03-08 04:44] hql287 commented on #171
Ah, sorry! Forgot to add the comment 😜 I actually was waiting for your prototype (as you suggested) so we can discuss this easier. Anyway,

Yes, this should be ideal, so go for it!

It's not necessary but can be very helpful. For example, I had this idea of developing a templating system, where designers can create their own templates with only HTML/CSS and a JS template engine language.

These te

[2018-03-08 06:15] hql287 commented on #254
@rrussi: Friendly ping.

[2018-03-08 06:19] #241 closed

[2018-03-08 08:24] rrussi commented on #254
Ok, I misunderstood. I think what you propose is correct.

[2018-03-08 10:54] jens-t commented on #171
No problem, was just curious :laughing:

I first finish the structure migration and send a PR. The screenshot would show the business theme, cause i'm just refactoring it at the moment, to discuss a proposal of a new template structure with you :)

Why not, but for that we should create a style sandbox for the preview, so that the global styles for the app don't mess with the themes. one could als

[2018-03-09 05:13] hql287 opened #259 "Quantity automatically rounded to whole number in templates"
## Expected Behavior
The quantity should stay the same in all places, even when it's decimal.

## Current Behavior
Even though the calculation is correct, when the quantity is decimal, it will be rounded to the nearest whole number when displaying in templates.

## Steps to Reproduce (for bugs)
1. Create a new invoice with at least one item has quantity as a decimal number (eg. 1.5)
2. Save & Prev

[2018-03-09 05:27] hql287 commented on #254
Ok, I'll make sure to include this change in the next release (next Friday) because today I'm releasing v1.1.4

[2018-03-09 05:28] hql287 commented on #259
Fixed with #260

[2018-03-09 05:28] #259 closed

[2018-03-09 08:33] hql287 opened #261 "Simplify auto check for update"
This is an improvement on how Manta should handle checking for updates.

## Expected Behavior

**Automatic**
- [ ] The app will always check for updates on startup,
- [ ] If there's no update, the user doesn't need to know about it.
- [ ] If there's a new update, let the user know about it and ask what to do next - displaying a dialogue box with options (Ignore or Upgrade)

**Manual**
If the user

[2018-03-09 10:12] hql287 commented on #261
Fixed with #262

[2018-03-09 10:12] #261 closed

[2018-03-09 13:20] hql287 opened #263 "Duplicate Invoice"
This could be very handy sometimes!

(Will add description later)

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Version used:
* Operating System and version:

[2018-03-12 12:02] bubsly opened #265 "Cannot Save As PDF"
Running: 1.1.4 on Windows. Save as PDF button is missing.

[2018-03-13 05:53] hql287 commented on #265
Thanks for reporting this 👍
Can you add a screenshot?
Thanks!

[2018-03-13 06:07] hql287 commented on #183
Thanks for all the input guys! 👍
Looks like print invoices are not going away anytime soon.

[2018-03-13 06:07] #183 closed

[2018-03-13 06:12] hql287 opened #266 "Resizing Logo"
## Expected Behavior

It would be great to be able to resize the logo, just like font-size.

- [ ] The user will be able to adjust the logo size inside the template.
- [ ] Should not resize the upload photo.

## Current Behavior
It's not possible to do this at the moment

## Possible Solution
Implement a new scale for adjusting logo size, similar to font-size.

[2018-03-13 06:13] hql287 commented on #160
Closed in favour of #266

[2018-03-13 06:13] #160 closed

[2018-03-13 10:26] hql287 commented on #266
Fixed with #267

[2018-03-13 10:26] #266 closed

[2018-03-15 05:12] hql287 opened #269 "Refactor Accent Color Component"
## Expected Behavior

- [ ] Should be a functional component with no internal state
- [ ] Checkbox should be handled under the `Toggle` component
- [ ] The Colour Picker should NOT be positioned as "absolute" as it will introduce some issues with UI customization later.

[2018-03-15 07:17] hql287 commented on #269
Fixed with #270

[2018-03-15 07:17] #269 closed

[2018-03-16 20:43] aloukissas commented on #9
Can help translate in Greek (native speaker, bi-lingual Gr/En).

[2018-03-17 11:46] hql287 commented on #9
Hey Alex, thanks for being interested in translating Manta. Greek has already been added to the list and you can start translating it here: https://crowdin.com/project/manta/el

Let me know if you have any question.

Thanks!

[2018-03-17 14:59] hql287 opened #271 "Recurring Items"
## Expected Behavior

Having recurring items on an invoice is pretty common. Manta should facilitate this.

## Current Behavior

It's not possible to do this at the moment.

## Possible Solution

[2018-03-17 15:09] hql287 commented on #263
Fixed with #272

[2018-03-17 15:09] #263 closed

[2018-03-20 14:50] adcat commented on #171
Hi,
First of all, I would like to thank you for this great app.

I have two proposals to make.

1. Proposal for a template design. (Made with 'styled-components`)
Views with different settings are below.

2. Proposal for additional Input Field

Template default
![manta-proposal-template-1](https://user-images.githubusercontent.com/25566779/37659762-759fdc62-2c59-11e8-90be-a8a0461ffa45.png)
without

[2018-03-20 21:05] romainwn opened #273 "Can't change language without setting tax amount greater than zero first"
## Expected Behavior
When I launch the app, I should be able to switch language without doing anything else

## Current Behavior
When starting the app for the first time, Tax amount is set to zero.
So, I get an "Invalid tax" error while just trying to switch language.

## Possible Solution
- Set a save button for each tab
- Set a default tax value greater than zero

## Steps to Reproduce (for bugs

[2018-03-20 21:12] romainwn commented on #273
How to reproduce if the app already installed :
- Set tax amount to 0 in the Settings (located in ~/Library/Application Support/Manta/Settings on macOs)
- Start the app and try to change language
- Click save button

[2018-03-20 21:23] romainwn opened #274 "export pdf and save configs button out of their boxes"
## Expected Behavior
<img width="1018" alt="screen shot 2018-03-20 at 22 18 37" src="https://user-images.githubusercontent.com/13620579/37683364-aec73f8e-2c8c-11e8-9dbb-476f28fcfbab.png">

## Current Behavior
<img width="1018" alt="screen shot 2018-03-20 at 22 15 26" src="https://user-images.githubusercontent.com/13620579/37683286-6b318b1c-2c8c-11e8-8658-75a956455f6a.png">
If I want the expected b

[2018-03-21 03:35] hql287 commented on #274
Thanks for reporting this. It's already fixed with this PR: https://github.com/hql287/Manta/pull/257

[2018-03-21 03:35] #274 closed

[2018-03-21 03:40] hql287 commented on #273
Yes, you can't save the settings when the tax amount is equal or less than zero. This is the default value for the tax field if you decide to use it in the form. So just it to something greater than 0 and you're good to go.

[2018-03-21 03:43] hql287 commented on #171
@adcat: Hey this is great! 👍 Can you create a separate PR for this template? (as this issue just serves as a quick reference) Thanks!

[2018-03-21 03:54] #273 closed

[2018-03-21 03:59] #246 closed

[2018-03-21 04:09] hql287 commented on #171
Btw, do you have the source file of the design (PSD, Sketch)?

[2018-03-21 05:29] hql287 commented on #265
Closed due to inactivity!

[2018-03-21 05:29] #265 closed

[2018-03-21 12:11] rrussi commented on #9
Hi, @stefanomarra. The work on the italian translation has stopped... How could I help to go ahead and close the translation?

[2018-03-21 13:09] stefanomarra commented on #9
Hi @rrussi, sorry for the delay, I will close the italian translation in the next days. I have to check some texts in the app to see if they fit right or not, before approving them. I will follow up here once I'll approve them and we are ready to go.

[2018-03-21 16:31] adcat commented on #171
@hql287 Ok, I will create PR.
The template was made with HTML/CSS and then transferred into working **Manta** template, so I don't have such source files(:

[2018-03-21 16:47] hql287 commented on #171
@adcat: No worries :)

[2018-03-21 17:18] hql287 commented on #250
Implemented with #275

[2018-03-21 17:18] #250 closed

[2018-03-21 18:55] remyscherer commented on #185
Still doesn't work on 32-Bit

[2018-03-24 12:14] stefusilviu commented on #9
Hello @hql287 . Thanks for this great app. I found it trying to do this by myself but you did a great job. Please set up the Romanian language. I can translate it. Thank you again!

[2018-03-25 11:45] hql287 commented on #9
@stefanomarra: Thanks for the kind word! Just added Romanian per your request. You can start translating here: https://crowdin.com/project/manta/ro.

Let me know if you have any question.

[2018-03-26 11:46] stefanomarra commented on #9
Above message from @hql287 is for you @stefusilviu ;)
Regarding the italian translation it's ready to be added to the next release @rrussi

[2018-03-27 04:07] hql287 commented on #9
@stefanomarra: Ahh, sorry bro! 😜

[2018-03-27 04:49] hql287 commented on #252
This version added 3 more languages (via #253):

- [x] Italian
- [x] Slovak
- [x] Pakistan

Other languages will be integrated gradually into Manta later.

[2018-03-27 04:49] #252 closed

[2018-03-28 10:31] hql287 commented on #185
@remyscherer: Fixed with #278. I think I [found the culprit](https://www.electron.build/configuration/win#WindowsConfiguration-target).

The next release of Manta will include this by default. If you want to try it out now (which would be nice), you can run this to build the Windows installer:

[code]

[2018-03-30 02:41] #185 closed

[2018-04-04 08:45] hql287 commented on #248
Fixed with #279

[2018-04-06 09:50] adcat opened #280 "Payment details"
## Expected Behavior

Adding **Bank Details** to Invoices.

## Current Behavior

None

## Possible Solution

![screen-shot-2018-04-03-at-2 02 00-pm](https://user-images.githubusercontent.com/25566779/38413776-5140a448-3995-11e8-82b1-92a1fba41c4a.png)
![screen-shot-2018-04-03-at-2 01 46-pm](https://user-images.githubusercontent.com/25566779/38413771-4fc87fd2-3995-11e8-98ec-9ef1b8e9224c.png)

[Link

[2018-04-06 10:27] YashKumarVerma opened #281 "CLI Extensions ?"
## Expected Behavior
pass parameters for invoice and the app should generate one.  So that it can be linked to some other application as well.

## Current Behavior
Each invoice has to generate manually. and there's no scope of linking with some other project.

## Possible Solution
Somehow hook the arguments with the code and execute it.

## Context
I want my application to create invoices using th

[2018-04-08 21:24] pablopunk opened #282 "Allow taxes to be 0%"
I didn't find this question in any other issue:

## Expected Behavior

I want to set the taxes to 0%. I deal with clients out of my country and I can't charge them taxes (tho they have to be 0%)

## Current Behavior

I can't save any setting with a tax value of 0%

## Possible Solution

Allow 0%!

[2018-04-09 01:56] hql287 commented on #282
@pablopunk: Have you tried turning off the Tax field in the form? (Making it not required for creating the invoice)

[2018-04-09 02:06] hql287 commented on #281
@YashKumarVerma: This is an interesting idea! 👍 (and seems to be possible as well). Haven't looked into this in detail but I think you can implement this feature with a few simple steps:

* Passing an argument when open the app (aka your invoice data)
* IPC this to a handler in the renderer process
* Using existing mechanism or create a new one to save the data to the "DB"

Would you like to work

[2018-04-09 02:09] hql287 commented on #280
@adcat: Hey, sorry for taking a bit long to get back to you. Have been pretty busy in the last week. Question: Wouldn't it be easier to use a text area field instead of 3 text inputs for this?

[2018-04-09 02:53] #248 closed

[2018-04-09 03:20] hql287 opened #283 "New UI"
## Motivation

There are a number of inconsistencies in the app UI when it runs in different OSs. This change attempts to fix that and to establish some conventions which would make future improvement easier.

- The window `titleBar` will always appear at the top.
- The current `sideBar` in the `mainWindow` will be moved to the top and will act as the `mainNavigation`.
- The second row would be th

[2018-04-09 12:27] pablopunk commented on #282
@hql287 Okay thanks, I guess I can do that.

Although I still think it's a bad experience to have taxes set to 0 by default because I opened the app for the first time, changed my name in Settings and trying to save, it told tax should be more than 0 (which I didn't touch).

[2018-04-09 12:27] #282 closed

[2018-04-09 14:35] hql287 commented on #282
@pablopunk: Agree, it's kind of annoying! Will fix soon 👍

[2018-04-09 19:30] YashKumarVerma commented on #281
My application is a school fee management software, which I'm making for a school in my village (I myself is a high school student)

The application manages everything related to the fee, deposit, pending slips, fines etc. but (till now) doesn't generate invoices.

I'm not fluent in node yet, so I'm afraid that I cannot help with the PR.

Hope to see this feature in upcoming versions. Long live CL

[2018-04-12 01:08] Urethramancer opened #284 "Tax must be non-zero"
I'm trying different invoice solutions because my old one is no longer updated, and thought this looked promising. There's one complete blocker, and that's the fact tax can't be set to zero.

If I make money under a certain amount, I'm not required to (or even eligible for) VAT registration, and can't charge any tax on services.

## Expected Behavior
The ability to set tax to 0 until I get a decen

[2018-04-12 03:46] hql287 commented on #284
@Urethramancer: Sorry to hear that. You actually CAN turn off VAT completely. Please see https://github.com/hql287/Manta/issues/282 for more details.

[2018-04-12 07:55] hql287 commented on #284
Btw, I like your sense of humour, and visiting Norway is on my list this year :)

[2018-04-12 12:24] Urethramancer commented on #284
Thanks, but it's actually in the profile settings I'm trying to set up 0 tax, as I'd like to not have to write ALL my details over every time. How do I make the profile save? The tax toggle is off.

[2018-04-12 15:36] hql287 commented on #284
This seems like a bad UX pattern. Let me try to explain how this works. So inside the settings tab:

* The Tax toggle is used to determine whether to show it in the form tab.
* The Tax field data (amount, tax ID, tax type) will be used to populate the tax field in the form if you decide to use it.

So, if you don't want to have tax on the invoices at all, just do this:

* turn off the tax field to

[2018-04-16 06:34] adcat commented on #280
@hql287 Hi, no worries(;
Do you mean one text area for example **Payment details** where you can fill any info? I think that can work better cause info for payment can vary for different people. Correct me please if I am wrong (;

[2018-04-19 07:20] AndrejZaf opened #286 "Connection Problem"
After I run the yarn start the app doesn't load, it's a blank screen saying that main.dev.js ERR_CONNECTION_REFUSED

[2018-04-19 13:45] AndrejZaf commented on #286
Fixed it.

[2018-04-19 13:45] #286 closed

[2018-04-21 09:51] stefusilviu commented on #9
@hql287  It seems that I don't have such an option.

[2018-04-22 03:48] hql287 commented on #9
@stefusilviu: Sorry, what I meant was aking if you would be up for it :) Anyway, I just made you the proofreader for Romanian. Thanks!

[2018-04-23 06:59] hql287 commented on #9
@stefusilviu: Thank YOU!

[2018-04-24 18:06] tannerlinsley opened #287 "Add link to website source on React-Static's readme"
Been getting a lot of requests for this :)

[2018-05-21 09:24] expertalex opened #291 "Issue when compailing the app after some extention"
Hello. I made a small changes in the app to fit our need an I want to compile it.
But when I switch to production mode te app crashes or it renders the white window.

I tried:

- `yarn release:mac` -> **Produce an error**
[code]

- `yarn dev` and in another window ` yarn start` -> **The app Works as Expected**
The only strange output in the browser is this:

<img width="952" alt="screen shot 2018-

[2018-05-22 07:17] hql287 commented on #291
@expertalex: Can you show me the code?

[2018-05-29 15:44] FXlife opened #292 "Setup for windows x86 platforms"
### Prerequisites

- We realize there is a lot of data requested here. We ask only that you do your best to provide as much information as possible so we can better help you.
- Read the [contributing guidelines](https://github.com/hql287/Manta/blob/dev/.github/CONTRIBUTING.md).
- Ensure the issue isn't already reported.
- Should be reproducible with the latest version of Manta.

I can't install Ma

[2018-05-29 23:13] anonymousguyx commented on #283
When will this UI be implemented?

[2018-05-29 23:22] anonymousguyx opened #293 "Change Font For PDF Templates"
### Prerequisites

Can we change the font-family of the PDF? The fonts are not good and not visible when set on normal font size. I know there is an option to increase the size but I am talking about font style. Can we add standard font like Arial or Roboto etc?

## Expected Behavior
Expecting the Roboto fonts for PDF and Previewer.

## Current Behavior
The fonts are horrible especially in PDF. Se

[2018-06-04 09:47] hql287 commented on #283
Hi, it will be implemented soon. I just relocated to another city and will get back to Manta soon after settling down.

[2018-06-04 09:49] hql287 commented on #293
Yes, we can. Would you like to work on a PR for this? :)

[2018-06-04 15:09] anonymousguyx commented on #293
Yes, I can.

[2018-06-05 06:00] hql287 commented on #293
Looking forward to that 👍

[2018-06-13 08:16] HalisCz commented on #244
Hi @hql287 , were you considering [Flathub](https://flathub.org/home) with it's distributing format [flatpak](https://flatpak.org/)?

I think that it would be great way how to package Manta for most of the Linux distribution and provide updates.

I can try to package Manta for flatpak if you are interested, but I would like to disclaim that so far I don't have packaging experience with flatpak.

[2018-06-14 11:59] Cuchulain commented on #9
Czech

[2018-06-15 16:48] maxjame5432 opened #294 "Support lengthy logo size"
## Expected Behavior
Logo isn't support for lengthy logo. You should be support lengthy logo.

## Current Behavior
I put lengthy logo into logo part, So it showed square logo size. it not expand to right side. I have lengthy logo only so it hard for me to use in my business.

## Possible Solution
You should be support lengthy logo. And write suggestion that what size is situate for place logo.

##

[2018-06-18 16:14] slorenzo opened #295 "Screenshot are broken."
### Prerequisites
None

## Expected Behavior
Show screenshots

## Current Behavior
`Cannot proxy the given URL`

[2018-07-04 04:36] ngocphamm commented on #284
I'm trying out the app, but just found out I can't save the settings without a tax > 0 set. Just letting you know and see if that's a bug or another bad UI/UX case.

[2018-07-04 04:47] ngocphamm opened #296 "[Question] The app doesn't use system's DNS settings?"
With LittleSnitch, I noticed that the app wants to connect to OpenDSN, which is not what I use for my system. Is there a build configuration somewhere that decides what network settings, specifically DNS servers, the app uses?

![2018-07-04 at 12 41 am](https://user-images.githubusercontent.com/395123/42257218-8ee2217c-7f23-11e8-8350-44be85008696.png)

Denying the connection doesn't seem to affect

[2018-08-12 13:33] hql287 commented on #296
Hey sorry for the late reply. This's strange as I don't remember doing anything related to Mixpanel. The only thing that's related to analytic at the moment is the open PR (Google Analytic)

[2018-08-12 13:35] #295 closed

[2018-08-12 13:35] hql287 commented on #295
Fixed with https://github.com/hql287/Manta/pull/297

[2018-08-12 14:02] hql287 opened #298 "Update Main Window Layout"
### Prerequisites

- We realize there is a lot of data requested here. We ask only that you do your best to provide as much information as possible so we can better help you.
- Read the [contributing guidelines](https://github.com/hql287/Manta/blob/dev/.github/CONTRIBUTING.md).
- Ensure the issue isn't already reported.
- Should be reproducible with the latest version of Manta.

## Expected Behavi

[2018-08-12 14:35] hql287 opened #299 "Update Preview Window Layout"
### Prerequisites

- We realize there is a lot of data requested here. We ask only that you do your best to provide as much information as possible so we can better help you.
- Read the [contributing guidelines](https://github.com/hql287/Manta/blob/dev/.github/CONTRIBUTING.md).
- Ensure the issue isn't already reported.
- Should be reproducible with the latest version of Manta.

## Expected Behavi

[2018-08-24 10:14] rlisowski commented on #9
@hql287 can we have Polish translation on crowdin.com? I can help with this one.

[2018-08-24 12:38] muuvmuuv opened #300 "Annoying thing with moving the application"
Normal applications can be moved across the screen when dragging the top bar. Manta can be dragged anywhere I click in the application. That is really annoying because it is moving a little bit all the time I click something with my magic mouse. Please, just let the application be dragged when clicking the top bar :) Thanks

[2018-08-24 12:49] muuvmuuv opened #301 "Logo editor"
Would be nice to have an editor to resize the logo into the invoices template.

Process:

- Upload a logo
- Editor open a template
- The logo appears in the logo section
- resize corners appear to resize/move the logo in the right position
- save the logo and its position

[2018-08-25 17:47] ForsbergOne commented on #9
@hql287  I can help translate the app to Swedish.

[2018-08-27 09:38] ppsirius commented on #9
Polish, I try to help

[2018-08-27 12:51] ItamarBittton commented on #9
@hql287  I can help translate the app to Hebrew

[2018-08-28 18:07] P1X3L0V4 commented on #9
@hql287 I'd like to help with Polish translation

[2018-08-28 22:01] cryptobench opened #302 "Danish currency shown as Dkr and not as DKK"
Currently Dkr is shown as the danish currency when you export the PDF's, but most people in denmark use DKK instead. Can this be changed?

[2018-08-29 13:29] saint4eva commented on #244
Hi @hql287 , you can also try [Bitnami](bitnami.com/
) or [Sourceforge](https://sourceforge.net/).

[2018-08-29 16:04] #302 closed

[2018-09-03 13:10] hql287 commented on #300
Good point!

This behavior was there due to the fact that Manta didn't have a title bar in the first design.

Looks like a quick fix to me.

[2018-09-03 14:43] muuvmuuv commented on #300
Great to hear that!

[2018-09-04 04:41] daniel-koller opened #304 "Address of the recipient of the invoice"
The address of the recipient should be on the invoice.

## Current Behavior
Only the name and the email address is on the invoice.

## Possible Solution
Additional field(s) for the address of the recipient.

[2018-09-05 12:38] cryptobench opened #305 "Issue while building Manta from source"
I've tried following the yarn guide to installing and everything is fine working except when i'm trying to compile it. I'm getting the issue that electron-builder 3.0.3 is recommended but there's no version 3.0.3 of electron-builder. I've checked the website and others versions don't work for me.

[2018-09-13 11:14] wesharehoodies commented on #171
@adcat Hey! Where can I find the template you created including the Iban?

[2018-09-24 13:12] maltitco commented on #9
@hql287 Please add Polish language to crowdin.
Already several people ask about it and I should not have a problem with the translation.

[2018-09-24 21:52] CosminBd commented on #9
@hql287  the Romanian translation 100% done as far as i see on Crowdin, can you make it available?

[2018-09-25 05:43] adifaidz commented on #9
@hql287 Please add Malay language to crowdin, I can contribute to it

[2018-09-30 22:05] defkev commented on #305
Not builder but updater is recommended for the version used.

Change `"electron-updater": "^2.21.0"` to `"electron-updater": "^3.0.3"` in `package.json`

[2018-10-02 10:44] sergioabril opened #310 "Withholding Tax Option"
## Expected Behavior
Not sure how this works around the world, but my country often requires us to apply a Retention Tax that must be discounted from the base amount.

## Current Behavior
You can add a Discount. You can add a regular Tax on top too. But you can't add a Retention Tax in between (At least I've not been able to find it, but I might be wrong indeed)

## Possible Solution
Being able to

[2018-10-02 20:18] danielheene commented on #284
I'm having a similar issue because in Germany I'm allowed to have a small business beside my regular job and with this business option I have to print a Tax ID on every invoice but I'm not allowed to charge taxes unless I switch to a regular business. But this also means it has to be a business I am running full-time without having a regular job. With this kind of small business I also have to pri

[2018-10-06 01:03] josheanes opened #311 "Must have feature - Auto-increment invoice ID"
I love your app. I was super excited and happy to have a simple invoicing solution but one of the biggest hassles with handling your own invoices is keeping track of the IDs or invoice numbers.

What do you think about letting the user choose a starting point number and every invoice after that, increment by 1?

Thanks for sharing your work!

[2018-10-10 19:35] kyd9x opened #312 "Different tax amount per item"
When invoicing, I use two different tax percentages. Food and non-food have different tax percentages. Now I can only set one tax amount for the whole invoice. It would be cool if this feature could be added.

Thanks for Manta!

[2018-10-17 00:00] pshirshov opened #315 "Item presets/bundles?"
It would be great to have some invoice presets.

Many of us are billing the same or similar services from month to month and it's inconvenient to retype everything each time.

[2018-10-17 00:01] pshirshov opened #316 ""Use invoice as draft"?"
It would be convenient to use an existing invoice as a draft for new one.

[2018-10-17 00:01] pshirshov opened #317 "Dark theme"
It would be great to have a dark theme for the app.

Especially on macOS Mojave.

[2018-10-17 00:05] pshirshov opened #318 "Item comments / multiline items"
Sometimes we need to provide an explanation for an invoice item.

It would be great to have an option to enter some coments under item title.

[2018-10-27 13:57] abeeribrahim commented on #9
Please add Arabic, I'll be very happy to help in translation...

[2018-10-30 21:28] robgha01 commented on #9
@hql287 Please add Swedish so i can translate :)

[2018-11-14 08:34] ksadjad commented on #9
@hql287 Please add Persian so I can translate it to

[2018-11-15 15:39] mleneveut opened #320 "Discount should allow decimals"
### Prerequisites

## Expected Behavior
I should be able to set a discount of 0.2% or $0.20

## Current Behavior
Discount can only be a whole number.

## Possible Solution

## Steps to Reproduce (for bugs)
1. Try to add a discount with decimals

## Context
When the total price without tax has decimals, I want to round the total price.

## Your Environment
* Version used: 1.1.4
* Operating System a

[2018-11-19 02:13] musukwamoshi opened #321 "Webpack issue during development"
I experienced this issue when compiling after making a change and running yarn dev and yarn start

Webpack-cli ^2.1.1 config-yargs.js looks for optionsSchema.definitions.output vs optionsSchema.definitions.outputOptions

My development environment is windows 10 and the latest node.
Possible solution is changing
"webpack-cli": "^2.0.11"  to
"webpack-cli": "^3.1.1" in the package.json file

App star

[2018-11-30 16:00] BigChief45 opened #322 "Bug when using/unusing dual monitor"
### Prerequisites

- We realize there is a lot of data requested here. We ask only that you do your best to provide as much information as possible so we can better help you.
- Read the [contributing guidelines](https://github.com/hql287/Manta/blob/dev/.github/CONTRIBUTING.md).
- Ensure the issue isn't already reported.
- Should be reproducible with the latest version of Manta.

## Expected Behavi

[2018-12-15 10:14] hnhtag commented on #9
I'd like to help with Myanmar (Burmese) translation.

[2018-12-17 10:31] charlietango opened #323 "Lost my invoices after building and running Manta from source"
Like the title says, I lost all of my invoices after building and running Manta from source.
Is there any way to recover my inovices? I'm open to work on a fix for this, but first I want to recover my invoices.

I'm running Manta 1.1.4 on macOS 10.14.

[2018-12-17 12:03] charlietango commented on #323
@hql287 ☝️ any guidance on how I can recover my invoices would be much appreciated

[2018-12-26 14:36] ahmedfouzan commented on #9
@hql287 I could help with Urdu.

[2019-01-16 10:00] Navneet-Suresh opened #325 "Support for Indian Rupee Symbol"
### Prerequisites

- We realize there is a lot of data requested here. We ask only that you do your best to provide as much information as possible so we can better help you.
- Read the [contributing guidelines](https://github.com/hql287/Manta/blob/dev/.github/CONTRIBUTING.md).
- Ensure the issue isn't already reported.
- Should be reproducible with the latest version of Manta.
Yes, I am using Lat

[2019-01-17 00:50] samuelrochaoliveira opened #326 "How to select Brazilian Portuguese language in Settings?"
![image](https://user-images.githubusercontent.com/15462690/51287907-e7923c00-19e0-11e9-815a-98538441f921.png)

The option doesn't appear.

My version is 1.1.4.

![image](https://user-images.githubusercontent.com/15462690/51287939-190b0780-19e1-11e9-8b40-e7a9b5bd83a7.png)

[2019-01-20 18:42] beli3ver commented on #304
Please @hql287 could you merge the PR. I need invoices with the recipient address.

[2019-01-27 23:04] PicchiKevin opened #327 "Incorrect language in dueDate description (on preview)"
Should use the correct language actual language, not the main language

https://github.com/hql287/Manta/blob/9d27a9385bfd202958e6c1b1a63ec6e8a1990803/preview/templates/business/components/Header.jsx#L129-L133

[2019-01-31 14:41] carstengrimm opened #328 "Is this project dead?"
I stumbled upon manta a few days ago and really like the app. From my first perspective it seems that the development isn't active anymore.

There are a couple pull requests, the site http://manta.life is not active anymore, also tried contacting though hi@manta.life and the message bounced back.

There are quite a few issues which are opened here which are really important (such as being able to

[2019-01-31 21:02] PicchiKevin commented on #328
Totally agree !
Really sad seeing this projet development dying.

I'll try to shoot an email to the repository owner if it can help.

[2019-02-21 12:23] stwr commented on #328
Would there be a possibility for one of you to fork it and we start a new repo?  I sadly don't have the dev skills to be of any use, I really like Manta, but indeed a few key bugs need to be fixed.

[2019-02-21 13:12] brrd commented on #328
@stwr In case of a fork I would suggest to give the ownership of the new repo to a dedicated organization in order to rely on several maintainers. Using http://openopensource.org/ manifesto is also a good idea IMO.

[2019-02-25 07:23] PicchiKevin commented on #328
@brrd Do you have any organization idea ?
@stwr If we have a list of maintainers I'd be happy to overtake the project on a fork.

[2019-02-25 09:07] brrd commented on #328
@PicchiKevin Actually my suggestion is to create one to manage the project, it's a very common practice: https://github.com/codemirror/codemirror, https://github.com/codemirror/codemirror etc.
With "someuser/repo" the project highly depends on "someuser" reactivity, which can be dangerous. Using "someorganization/repo" allows multiple contributors to administrate the project.

@hql287 already crea

[2019-02-28 19:33] hql287 commented on #328
Hey everyone,

First of all, my apologise to taking "a bit" long to get back to you and thank you for dropping by.

To be honest, I'm having a mixed feeling at the moment after reading your messages. On one hand, I'm feeling grateful and happy that Manta still receives a lot of love from the community. On the other hand, it also makes me feel that I've disappointed the people like yourselves by "h

[2019-03-01 18:11] filipecanatto commented on #326
I am having the same problem, did you find the solution ?

[2019-03-01 18:14] samuelrochaoliveira commented on #326
Hi @filipecanatto, not yet.

Olá @filipecanatto, ainda não.

[2019-03-01 18:43] filipecanatto commented on #326
There is an alternative solution, you can edit the files yourself. Visit the files in "Manta/tree/dev/i18n/en" and translate from english to brazil, then reload the app.

[2019-03-01 18:49] samuelrochaoliveira commented on #326
Thanks @filipecanatto o/

[2019-03-04 16:22] marath007 commented on #328
Sweet! Keep up the work!

[2019-03-07 13:01] Abdur-rahmaanJ opened #329 "[os-support] add 32 bit version for win"

[2019-03-07 15:14] hql287 opened #330 "1 Step Deployment."
## Expected Behavior

Able to run one command to build and release Manta

## Current Behavior

The process of releasing a new version is not documented anywhere.

## Possible Solution

## Context

## Your Environment

* Version used:
* Operating System and version:

[2019-03-07 15:15] #328 closed

[2019-03-11 15:00] ddm1995 opened #331 "Add More Tax Option"
As other countries have different types of taxes the percentage of taxes are only allowed once like it only allowed to add single tax as per the new Taxation in India there are new rules for taxes like these
![Capture](https://user-images.githubusercontent.com/48283194/54133592-5c5f8080-443c-11e9-988f-9c751f5a3553.PNG) so if you add more option to create more taxes with respect to ist percentage t

[2019-03-21 11:41] ottomauri opened #332 "Add Markup value"
Hi, I think it would be useful to add an entry for a markup value in percentage or digit . The value should not appear in the pdf but only in the archive.

[2019-03-24 13:05] mikkelking commented on #328
@hql287 getmanta.app isn't responding.
Happy to provide some help if you like - I had a bunch of trouble building the project - will raise an issue if the project is going to get some love? Mike

[2019-04-13 18:45] devhanin opened #333 "Permission | change Brand"
Really I do not understand  " LGPL-3.0 " in lisence (Manta).
 My question is : Can I change Manta's brand(logo) to my new brand ?

[2019-04-14 14:18] hql287 commented on #328
Hey Mike,

I fixed the website. It should be working now :)
I'm trying to spend more time on this now. Feel free to open new issues or PR if you have the time.

Thanks!

[2019-04-14 16:40] petrk94 commented on #328
@hql287 thanks for bringing the website online again, but there is missing of download section, it shows only download for Mac, and no reference that you can download it for windows or Linux in this github repo release section.

[2019-04-14 21:03] mikkelking commented on #311
This is a useful feature. Invoice numbers need to be unique, and it saves time looking for the last invoice to work out what the next number should be

[2019-04-14 21:06] mikkelking commented on #284
This is a necessary feature. The customer needs to know the tax is zero. Please allow it

[2019-04-17 11:48] hql287 commented on #328
Thanks for reporting this. I'll have a look at this.

[2019-04-17 11:51] hql287 commented on #333
Closing as I've replied through email.

[2019-04-17 11:51] #333 closed

[2019-04-17 20:27] mikkelking commented on #328
We could probably close this ticket now. I managed to download both the Mac app, and the repo and get it running without errors this time.

[2019-04-18 14:40] hql287 commented on #328
Which ticket are you talking about? This one is already closed.

[2019-04-22 23:00] Dreamspectre commented on #311
This would be a fantastic addition!

[2019-04-22 23:20] Dreamspectre opened #334 "Multi-line input for Notes"
## Expected Behavior

Using a line break or new line entry (shift-return or return) carries over to the invoice preview and generated PDF as displayed in the invoice creation view.

## Current Behavior

Entering information on multiple lines shows as expected when filling out the invoice, but truncates into a single line in the preview and PDF.

## Possible Solution

To be perfectly honest, I have

[2019-04-27 19:50] sasivarnan commented on #325
@Navneet-Suresh I guess this is fixed in #285. But haven't made a release after incorporating this fix.

@hql287 Any plans of releasing a new version with this new fix?

[2019-06-02 13:56] victor141516 commented on #9
Could it be possible, for us to test translations, to download the translated files from Crowdin and add them to the app somehow?

[2019-06-02 14:39] KevinColemanInc opened #335 "Pricing Enter creates a new blank invoice line"
## Expected Behavior
If you press enter, when editing a invoice line item and *if there is not already a blank line*, add a new blank line

## Current Behavior
If you press enter, when editing a invoice line item and *if there is not already a blank line*, add a new blank line

Gif demo:
![](http://g.recordit.co/hzT6GdSe1H.gif)

## Steps to Reproduce (for bugs)
1. Go to "Create a new Invoice"
2. C

[2019-06-16 04:05] tinshade opened #336 "Can RUN this!"
I can't run this! I have Node and Electron installed and set up perfectly. Can someone guide me how to get this app running?

Any help will be much appreciated!

Thanks in advance!

[2019-06-16 08:43] mikkelking commented on #336
It runs fine if you follow the instructions in the README file:

[2019-06-16 08:47] petrk94 commented on #336
Otherwise, just download the executables https://github.com/hql287/Manta/releases

[2019-06-16 09:23] tinshade commented on #336
Well, firstly, I am on Windows and I am using NPM. Second, when I do manage to get it running, it shows a blank, white screen and I believe that's because of "electron-is-dev".

[2019-06-16 09:24] tinshade commented on #336
I need this to make slight changes and redeploy as a separate project. I don't think EXEs will be appreciated or make life any easier.

[2019-06-16 09:44] petrk94 commented on #336
Oh I see, well than I cant help :(

[2019-06-16 10:53] BernhardWebstudio commented on #336
Well, @tinshade what exactly are your issues? I do not have any problems following the steps described in the README file on Windows to get it running. If you insist on using npm instead of yarn, the commands are pretty much the same: `npm install`, `npm run dev` and `npm run start`.
I just tested it on my device, I get the blank page when I do not run `npm run dev` in a separate console. Also, wh

[2019-06-16 22:01] PaDo90 commented on #304
I need this to otherwise the bill is not legal conformity here in germany. Please add this option! :)

[2019-06-16 22:03] PaDo90 opened #337 "Wrong translation "Tax-ID:""
Please add the translation for "Tax-ID:" on the bill document in German to: "Ust-IdNr.:"

[2019-06-16 22:13] PaDo90 opened #338 "Option for bank account details on bill"
Please add an option to show contact info and bank account details on the footer. Bill recipients need to know where to transfer the money. ;)

[2019-06-16 22:14] PaDo90 commented on #283
@hql287 when it's soon? :) Now it's 2019 and no new updates for this awesome app? :(

[2019-06-20 12:36] BernhardWebstudio commented on #338
Possible Duplicate: #280

[2019-06-20 12:40] PaDo90 commented on #280
I think that will be an good option. Three Text Areas which can be optionally filled and the result will be shown on the footer on the document.

[2019-06-22 17:59] qpixHassaballah commented on #9
Arabic

[2019-06-22 18:02] qpixHassaballah opened #339 "Arabic Translation is not approved"
### Prerequisites

- We realize there is a lot of data requested here. We ask only that you do your best to provide as much information as possible so we can better help you.
- Read the [contributing guidelines](https://github.com/hql287/Manta/blob/dev/.github/CONTRIBUTING.md).
- Ensure the issue isn't already reported.
- Should be reproducible with the latest version of Manta.

## Expected Behavi

[2019-06-24 16:52] PicchiKevin commented on #328
still feels dead

[2019-07-29 19:28] G1R-Productions commented on #304
I too need this feature before I can use this software.

[2019-10-02 19:52] tomasbal opened #340 "Translate it to Macedonian"
Hello, I'm interested in contributing to this software by translating it to Macedonian if it's possible.

[2019-10-03 11:51] PicchiKevin commented on #340
Hey Tomislav,
Of course ! You can find the translation files in this folder: [i18n/en](/hql287/Manta/tree/dev/i18n/en)

I'd like to note that the project is not really active to my eyes; see for the explanation #328.

I think that @hql287 is working on a PRO (paid) version of Manta but I've got the feeling that the "Pro version" won't be open-source ;(

But you can still try to make a PR

[2019-10-08 13:34] tomasbal commented on #9
Macedonian, I already did PR.

[2019-11-06 09:03] JorisM opened #346 "Crash on Startup due to electron version (Harfbuzz version)"
### Prerequisites
When I try to run Manta on Fedora 31, it crashes on startup with the following error:

[code]

## Expected Behavior

the application should start

## Current Behavior

it crashes

## Possible Solution

according to this issue https://github.com/electron/electron/issues/20348#issuecomment-542150507 an upgrade of electron is required to fix this.

## Steps to Reproduce (for bugs)

[2019-11-30 19:41] SWW13 commented on #346
[code]
fixes the issue

[2019-12-28 13:26] madisvain opened #348 "Alternative open source invoicing application Upcount.app"
The project has been without maintenance for some time now in quite a [sad state](https://github.com/hql287/Manta/issues/328). As an open source contributor myself I know how time consuming and overwhelming it might be for the sole maintainer.

The idea of an offline first invoicing application really resonates with me. I want to continue with what Manta started so I have started [Upcount app - fo

[2020-01-07 11:49] marceloavf opened #349 "Enable translation download from crowdin"
Hi

Please, enable to download translation from crowdin so we can use it on development mode since we don't have some translations like "Portuguese brazilian" in final released version.

Thank you.

[2020-01-15 01:38] #305 closed

[2020-01-18 06:40] ChildishGiant commented on #55
![image](https://user-images.githubusercontent.com/13716824/72659799-4e17b480-39bd-11ea-94b6-6245e7979c52.png)
This still seems to be an issue on Windows 10 with the latest build installed

[2020-02-01 15:43] stefusilviu commented on #9
@hql287 Any news on adding the new translations that are done already?  For example romanian language.

[2020-02-14 10:31] tngoman commented on #348
Inspired by both upcount and Manta, a new modern [open source](https://github.com/tngoman/Offline_Invoicing) alternative has been born.
MSI Windows installer available at [offlineinvoicing.com](http://www.offlineinvoicing.com/)

[2020-02-18 09:11] trisnakurniawan commented on #9
add indonesia please

[2020-03-06 23:21] m0ngr31 commented on #346
Same issue here.

[2020-03-08 15:20] svaaosman commented on #304
@hql287 can you merge this please?

[2020-06-23 19:19] ngome opened #351 "After fresh install, invoice options not populated in form till program restart"
Fresh install on Windows 10 x64. Enabling invoice options such as tax and discount does not immediately introduce those options into the new form template.

After program restart the newly selected options are visible in the new form template.

[2020-07-01 01:26] #351 closed

[2020-08-01 12:15] beardoweirdo commented on #9
Can we get Hindi as well?

Thanks.

[2020-08-07 12:53] decentral1se commented on #280
Hey, loving Manta, just wanted to chime in and say, yes, including bank details would be wonderful :tada:

[2020-10-19 04:48] Navneet-Suresh commented on #325
Implemented in #285. CLosing this issue.

[2020-10-19 04:49] #325 closed

[2020-12-09 11:55] nknganda commented on #346
Same issue on Ubuntu 20.04.1 LTS

[2021-01-06 03:00] devcsrj commented on #310
👍 on this. Another approach is to accept a _negative tax_ to represent tax charged to me, instead of the customer

[2021-01-13 15:43] rathboma opened #359 "Is this project unmaintained?"
Used to use Manta for invoice generation, but seems like the repo isn't looking very active?

Would be good to know if the app is unmaintained?

[2021-01-30 19:49] 2braincells2go commented on #348
Upcount app is cool, but no go without discount feature like manta.

offlineinvoicing is really cool, but app goes full screen with no option to minimize or resize window. it also has issue with lots of entries for invoice - after saving screen goes blank and have to restart the app.

Manta may be unmaintained, but it still works great for our nonprofit.

[2021-04-13 19:48] vinayjoshi302 opened #365 "white screen"
browser says tour.dev.js and modal.css missing

[2021-05-30 20:21] PicchiKevin commented on #328
Still dead 2 years later 🎻

[2021-06-12 14:18] john0630 opened #373 "Does anyone able to build the app using the source code from here?"
I'm having a blank screen after I download the source code and follow the guide to install the dependencies. Anyone could help? appreciate that!

![image](https://user-images.githubusercontent.com/31230290/121778976-0dc95f80-cbcc-11eb-96dd-9627a570be6d.png)

[2021-06-26 21:36] SalahAdDin commented on #373
It seems this project is abandoned.

[2021-06-26 21:36] SalahAdDin commented on #359
It seems it is.

[2021-06-26 21:39] SalahAdDin commented on #348
@madisvain What do you think about this?

[2021-07-07 10:38] milotype opened #374 "Untranslated strings in the View of invoices"
## Expected Behavior
Options for _Minimal_ and _Business_ should be translatable (see screenshot)

## Current Behavior
Options for _Minimal_ and _Business_ cannot be translated

## Possible Solution
- I think the affected file is at `/preview/components/sidebar/Template.jsx`
- the two strings need to be added to one of the translation files

## Steps to Reproduce (for bugs)
1. Go to _All invoices_

[2021-07-25 12:57] Thaninayagam commented on #373
Same here!

[2021-08-31 10:25] Foriyo commented on #142
Application not start on ubuntu 20.04.2 LTS. I have download application from https://github.com/hql287/Manta/releases

[2021-10-16 14:59] kevinmukuna commented on #346
@nknganda did you manage to get around this?

[2021-11-26 18:16] milotype opened #379 "Croatian translation"
Please enable Croatian translation at https://crowdin.com/project/manta

[2021-12-19 18:37] AndresMorelos opened #380 "Manta App continuation: Maintenance and Support."
This is an amazing app and it has helped many of us in our daily lives. A lot of the dependencies used are out of date, some are not maintained anymore (duplicate package checker) and a lot of the APIs have changed since this was last updated and I also had to use a much older version of Node to get this running. There's a lot of discussion about how this project is unmaintained and I thought I'd

[2021-12-30 13:11] abdessamadwassim commented on #373
Same here!

[2022-01-06 10:29] iooner opened #381 "0% taxes"
Hi!
The app need a tax greater than 0%.
In Belgium for example we have 0% tax for NPO, ... but we need to indicate to 0% (with a note).

Is it possible to allow taxes at 0%? To have more of a warning than an "error".

Thanks <3

[2022-01-13 21:18] sonalder-darlene commented on #317
I second that !

Would also love to have the option for dark theme invoice like black paper

[2022-01-13 21:23] sonalder-darlene opened #382 "Minecraft soundpack"
The CS:GO soundpack is amazing, but this could be better.

[2022-01-17 07:39] AndresMorelos commented on #381
@iooner check this repo https://github.com/AndresMorelos/Invoncify

[2022-01-17 07:40] AndresMorelos commented on #373
@john0630 @Thaninayagam I was able and also update the dependencies check the repo https://github.com/AndresMorelos/Invoncify

[2022-01-17 13:13] #381 closed

[2022-02-02 22:14] danvaly commented on #9
Hi, I speak Romanian I would love to help you on this. What do you think

[2022-03-25 14:42] ding0z opened #387 "Statistics showing the wrong currency"
Hi,
The statistics page show the graph based using the Dollar sign even if the currency used is different (in my case British Pound).

[2022-07-25 20:13] mdjilanif opened #392 "How to Import and Export DataBase ? From One Computer To Another Computer"
### Prerequisites

- We realize there is a lot of data requested here. We ask only that you do your best to provide as much information as possible so we can better help you.
- Read the [contributing guidelines](https://github.com/hql287/Manta/blob/dev/.github/CONTRIBUTING.md).
- Ensure the issue isn't already reported.
- Should be reproducible with the latest version of Manta.

## Expected Behavi

[2022-11-09 04:54] JunglePredator opened #394 "Couple of small changes please:"
Couldn't find any issues opened about these so hopefully I am not creating a duplicate.

First off it seems mandatory to have an email for the target of the invoice? Least I can't see a way to turn it off & the program gives an error if it's left blank. It'd be nice to be able to leave it blank/turn off as I don't deal with online contact of customers & have no need to ask them this... and it make